<div [@routerTransition]>
  
    <div class="kt-subheader kt-grid__item">
      
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("WholesaleEclUploads")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("WholesaleEclUploadsHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
				<button *ngIf="isGranted('Pages.WholesaleEclUploads.Create')" (click)="createWholesaleEclUpload()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewWholesaleEclUpload")}}</button>
            </div>
        </div>
      
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getWholesaleEclUploads()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


							<div class="col-md-3">
								<label for="DocTypeFilterSelect">{{l("DocType")}}</label>
								<select class="form-control" name="DocTypeFilter" id="DocTypeFilterSelect" [(ngModel)]="docTypeFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="0">{{l('General')}}</option>

										<option value="1">{{l('LoanBook')}}</option>

										<option value="2">{{l('PaymentSchedule')}}</option>


								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="UploadCommentFilter">{{l("UploadComment")}}</label>
									<input type="text" class="form-control" id="UploadCommentFilter" name="uploadCommentFilter" [(ngModel)]="uploadCommentFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<label for="StatusFilterSelect">{{l("Status")}}</label>
								<select class="form-control" name="StatusFilter" id="StatusFilterSelect" [(ngModel)]="statusFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="0">{{l('Draft')}}</option>

										<option value="1">{{l('Submitted')}}</option>

										<option value="2">{{l('Approved')}}</option>

										<option value="3">{{l('Rejected')}}</option>


								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="WholesaleEclTenantIdFilter">({{l("WholesaleEcl")}}) {{l("TenantId")}}</label>
									<input type="text" class="form-control" id="WholesaleEclTenantIdFilter" name="wholesaleEclTenantIdFilter" [(ngModel)]="wholesaleEclTenantIdFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getWholesaleEclUploads($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.WholesaleEclUploads.Edit', 'Pages.WholesaleEclUploads.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="wholesaleEclFk.tenantId">
                                        {{l('TenantId')}}
                                        <p-sortIcon field="wholesaleEclTenantId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="docType">
                                        {{l('DocType')}}
                                        <p-sortIcon field="wholesaleEclUpload.docType"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="uploadComment">
                                        {{l('UploadComment')}}
                                        <p-sortIcon field="wholesaleEclUpload.uploadComment"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="status">
                                        {{l('Status')}}
                                        <p-sortIcon field="wholesaleEclUpload.status"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.WholesaleEclUploads.Edit', 'Pages.WholesaleEclUploads.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>

												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.WholesaleEclUploads.Edit')"
														(click)="createOrEditWholesaleEclUploadModal.show(record.wholesaleEclUpload.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.WholesaleEclUploads.Delete')"
														(click)="deleteWholesaleEclUpload(record.wholesaleEclUpload)">{{l('Delete')}}</a>
												</li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                                       (click)="showHistory(record.wholesaleEclUpload)">{{l('History')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('TenantId')}}</span>
												{{record.wholesaleEclTenantId}}
											</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('DocType')}}</span>
										{{l( uploadDocTypeEnum[record.wholesaleEclUpload.docType])}}
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('UploadComment')}}</span>
											{{record.wholesaleEclUpload.uploadComment}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Status')}}</span>
										{{l( generalStatusEnum[record.wholesaleEclUpload.status])}}
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getWholesaleEclUploads($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditWholesaleEclUploadModal #createOrEditWholesaleEclUploadModal (modalSave)="getWholesaleEclUploads()"></createOrEditWholesaleEclUploadModal>
    
     <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  
</div>
