<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("CalibrationEadCcfSummary")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("Calibration")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <!-- <div class="kt-subheader__wrapper">
                <button *ngIf="isGranted('Pages.Calibration.Create')" (click)="create()"
                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("New")}}</button>
            </div> -->

            <div *ngIf="isGranted('Pages.Calibration.Create')" class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus"></i> {{"New" | localize}}
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
                    <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="create(frameworkEnum.All)"
                    href="javascript:;">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon pr-1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"/>
                            <path d="M5.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L5.5,11 C4.67157288,11 4,10.3284271 4,9.5 L4,5.5 C4,4.67157288 4.67157288,4 5.5,4 Z M11,6 C10.4477153,6 10,6.44771525 10,7 C10,7.55228475 10.4477153,8 11,8 L13,8 C13.5522847,8 14,7.55228475 14,7 C14,6.44771525 13.5522847,6 13,6 L11,6 Z" fill="#000000" opacity="0.3"/>
                            <path d="M5.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M11,15 C10.4477153,15 10,15.4477153 10,16 C10,16.5522847 10.4477153,17 11,17 L13,17 C13.5522847,17 14,16.5522847 14,16 C14,15.4477153 13.5522847,15 13,15 L11,15 Z" fill="#000000"/>
                        </g>
                    </svg>
                    {{'All Sub Model' | localize}}
                </a>
                    <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="create(frameworkEnum.Wholesale)"
                        href="javascript:;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon pr-1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <path d="M5.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L5.5,11 C4.67157288,11 4,10.3284271 4,9.5 L4,5.5 C4,4.67157288 4.67157288,4 5.5,4 Z M11,6 C10.4477153,6 10,6.44771525 10,7 C10,7.55228475 10.4477153,8 11,8 L13,8 C13.5522847,8 14,7.55228475 14,7 C14,6.44771525 13.5522847,6 13,6 L11,6 Z" fill="#000000" opacity="0.3"/>
                                <path d="M5.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M11,15 C10.4477153,15 10,15.4477153 10,16 C10,16.5522847 10.4477153,17 11,17 L13,17 C13.5522847,17 14,16.5522847 14,16 C14,15.4477153 13.5522847,15 13,15 L11,15 Z" fill="#000000"/>
                            </g>
                        </svg>
                        {{'Wholesales' | localize}}
                    </a>
                    <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="create(frameworkEnum.Retail)"
                        href="javascript:;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon pr-1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24"/>
                                <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" fill="#000000" fill-rule="nonzero"/>
                                <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" fill="#000000" opacity="0.3"/>
                            </g>
                        </svg>
                        {{'Retail' | localize}}
                    </a>
                    <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="create(frameworkEnum.OBE)"
                        href="javascript:;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon pr-1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <path d="M13.6855025,18.7082217 C15.9113859,17.8189707 18.682885,17.2495635 22,17 C22,16.9325178 22,13.1012863 22,5.50630526 L21.9999762,5.50630526 C21.9999762,5.23017604 21.7761292,5.00632908 21.5,5.00632908 C21.4957817,5.00632908 21.4915635,5.00638247 21.4873465,5.00648922 C18.658231,5.07811173 15.8291155,5.74261533 13,7 C13,7.04449645 13,10.79246 13,18.2438906 L12.9999854,18.2438906 C12.9999854,18.520041 13.2238496,18.7439052 13.5,18.7439052 C13.5635398,18.7439052 13.6264972,18.7317946 13.6855025,18.7082217 Z" fill="#000000"/>
                                <path d="M10.3144829,18.7082217 C8.08859955,17.8189707 5.31710038,17.2495635 1.99998542,17 C1.99998542,16.9325178 1.99998542,13.1012863 1.99998542,5.50630526 L2.00000925,5.50630526 C2.00000925,5.23017604 2.22385621,5.00632908 2.49998542,5.00632908 C2.50420375,5.00632908 2.5084219,5.00638247 2.51263888,5.00648922 C5.34175439,5.07811173 8.17086991,5.74261533 10.9999854,7 C10.9999854,7.04449645 10.9999854,10.79246 10.9999854,18.2438906 L11,18.2438906 C11,18.520041 10.7761358,18.7439052 10.4999854,18.7439052 C10.4364457,18.7439052 10.3734882,18.7317946 10.3144829,18.7082217 Z" fill="#000000" opacity="0.3"/>
                            </g>
                        </svg>
                        {{'OBE' | localize}}
                    </a>
                    
                </div>
            </div>
        </div>

    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div *ngIf="_affiliateId === -1" class="col-xl-2 col-sm-6">
                                <div class="form-group m-form__group align-items-center">
                                    <select class="form-control" name="IsApprovedFilter" id="IsApprovedFilterSelect"
                                        [(ngModel)]="affiliateFilter">
                                        <option value="-1">{{l("SelectOU")}}</option>
                                        <option *ngFor="let item of ouList" [value]="item.value">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-6">
                                <div class="form-group m-form__group align-items-center">
                                    <select class="form-control" name="IsApprovedFilter" id="IsApprovedFilterSelect"
                                        [(ngModel)]="statusFilter">
                                        <option value=-1>{{l("SelectStatus")}}</option>
                                        <option [value]="generalStatusEnum.Draft">
                                            {{l(generalStatusEnum[generalStatusEnum.Draft])}}</option>
                                        <option [value]="generalStatusEnum.Submitted">
                                            {{l(generalStatusEnum[generalStatusEnum.Submitted])}}</option>
                                        <option [value]="generalStatusEnum.AwaitngAdditionApproval">
                                            {{l(generalStatusEnum[generalStatusEnum.AwaitngAdditionApproval])}}</option>
                                        <option [value]="generalStatusEnum.Approved">
                                            {{l(generalStatusEnum[generalStatusEnum.Approved])}}</option>
                                        <option [value]="generalStatusEnum.Completed">
                                            {{l(generalStatusEnum[generalStatusEnum.Completed])}}</option>
                                        <option [value]="generalStatusEnum.Failed">
                                            {{l(generalStatusEnum[generalStatusEnum.Failed])}}</option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="_affiliateId !== -1" class="col-xl-2"></div>
                            <div class="col-xl-4"></div>
                            <div class="col-xl-4">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getAll()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Calibration')">
                                        {{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="organizationUnitId">
                                        {{l('Affiliate')}}
                                        <p-sortIcon field="calibration.organizationUnitId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="creationTime">
                                        {{l('DateCreated')}}
                                        <p-sortIcon field="calibration.creationTime"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="creatorUserId">
                                        {{l('CreatedBy')}}
                                        <p-sortIcon field="calibration.creatorUserId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="modelType">
                                        {{l('Model Type')}}
                                        <p-sortIcon field="calibration.ModelType"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="status">
                                        {{l('Status')}}
                                        <p-sortIcon field="calibration.status"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Calibration')">
                                        <button *ngIf="record.calibration.status !== generalStatusEnum.Draft" type="button" class="btn btn-primary btn-sm"
                                            (click)="view(record.calibration.id)">
                                            <i class="fa fa-info-circle"></i> View
                                        </button>
                                        <div *ngIf="record.calibration.status === generalStatusEnum.Draft" class="btn-group m-btn-group m-btn-group--pill" dropdown container="body">
                                            <button type="button" class="btn btn-primary btn-sm"
                                                (click)="view(record.calibration.id)">
                                                <i class="fa fa-info-circle"></i> View
                                            </button>
                                            <button class="dropdown-toggle btn btn-sm btn-primary dropdown-toggle-split" dropdownToggle>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.Calibration.Delete')"
                                                        (click)="delete(record.calibration)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Affiliate')}}</span>
                                        {{record.affiliateName}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('DateCreated')}}</span>
                                        <span *ngIf="record.dateCreated">
                                            {{record.dateCreated | momentFormat:'L'}}
                                        </span>
                                        <span *ngIf="!record.dateCreated">-</span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Name')}}</span>
                                        {{record.createdBy}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Name')}}</span>
                                        {{l( frameworkEnum[record.calibration.modelType])}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Status')}}</span>
                                        <span
                                            class="kt-badge kt-badge--bolder kt-badge kt-badge--inline 
                                                     kt-badge--unified-{{ getStatusLabelClass(record.calibration.status) }}">
                                            {{l( generalStatusEnum[record.calibration.status])}}
                                        </span>

                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getAll($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>


    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    <ouLookupTableModal #ouLookupTableModal (modalSave)="createForAffiliate()"></ouLookupTableModal>
</div>