<tabset *ngIf="displayForm">
    <tab heading="{{assumptionGroupEnum[assumptionGroupEnum.ScenarioInputs] | localize}}">
        <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template>
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of scenarioAssumptionGroup">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 *ngIf="item.dataType !== dataTypeEnum.DoubleMoney && item.dataType !== dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value}}
                        </h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoubleMoney"
                            class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable" (click)="editAssumption(item, assumptionGroupEnum[assumptionGroupEnum.ScenarioInputs])">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{assumptionGroupEnum[assumptionGroupEnum.AbsoluteCreditQuality] | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of absoluteCreditQualityAssumptionGroup">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 *ngIf="item.dataType !== dataTypeEnum.DoubleMoney && item.dataType !== dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value}}
                        </h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoubleMoney"
                            class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable" (click)="editAssumption(item, assumptionGroupEnum[assumptionGroupEnum.AbsoluteCreditQuality])">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{assumptionGroupEnum[assumptionGroupEnum.RelativeCreditQuality] | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of relativeCreditQualityAssumptionGroup">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 *ngIf="item.dataType !== dataTypeEnum.DoubleMoney && item.dataType !== dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value}}
                        </h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoubleMoney"
                            class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable" (click)="editAssumption(item, assumptionGroupEnum[assumptionGroupEnum.RelativeCreditQuality])">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{assumptionGroupEnum[assumptionGroupEnum.ForwardTransitions] | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of forwardTransitionsAssumptionGroup">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 *ngIf="item.dataType !== dataTypeEnum.DoubleMoney && item.dataType !== dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value}}
                        </h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoubleMoney"
                            class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable" (click)="editAssumption(item, assumptionGroupEnum[assumptionGroupEnum.ForwardTransitions])">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{assumptionGroupEnum[assumptionGroupEnum.BackwardTransitions] | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of backwardTransitionAssumptionGroup">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 *ngIf="item.dataType !== dataTypeEnum.DoubleMoney && item.dataType !== dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value}}
                        </h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoubleMoney"
                            class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable" (click)="editAssumption(item, assumptionGroupEnum[assumptionGroupEnum.BackwardTransitions])">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
</tabset>
<app-edit-assumption-modal #editAssumptionModal></app-edit-assumption-modal>
