.kt-widget__subhead-overwrite {
    width: 50%;
    display: contents;
}

.kt-widget__label-overwrite {
    display: contents;
}

.kt-widget__info-overwrite {
    display: contents !important;
    width: 40%;
}

.kt-widget__progress-overwrite {
    float: right;
    margin-left: auto;
    display: inline-flex;
    width: 50%;
    padding: 0.6rem 0 0.8rem 0;
}
