<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("WholesaleEcls")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("ViewEcl")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="editEcl()" class="btn btn-outline-primary">
                    <i class="fa fa-edit" style="font-size: 1.2rem !important;"></i>
                    {{l("Edit")}}
                </button>
                <!-- <button (click)="approveEcl()" class="btn btn-primary">
                    <i class="fa fa-check-double" style="font-size: 1.2rem !important;"></i>
                    {{l("Approve")}}
                </button> -->
                <!-- <button (click)="runEclComputation()" class="btn btn-success">
                    <i class="fa fa-play-circle" style="font-size: 1.2rem !important;"></i>
                    {{l("Run")}}
                </button> -->
                <button (click)="goBack()" class="btn btn-outline-danger">
                    <i class="fa fa-reply" style="font-size: 1.2rem !important;"></i>
                    {{l("GoBack")}}
                </button>
            </div>
        </div>

    </div>
    <div class="kt-content">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-widget kt-widget--user-profile-3">
                    <div class="kt-widget__top">
                        <div class="kt-widget__content">
                            <div class="kt-widget__head">
                                <div class="kt-widget__user">
                                    <a href="javascript:void(0);" class="kt-widget__username">
                                        #4059643 &nbsp;
                                    </a>
                                </div>
                                <div class="kt-widget__action">
                                    <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill kt-badge--rounded">Submitted</span>
                                </div>
                            </div>

                            <div class="kt-widget__subhead kt-widget__subhead-overwrite">
                                <span class="pr-5">Country: <b>Nigeria</b> </span>
                                <span class="pr-5">Created By: <b>Admin Admin</b></span>
                                <div class="kt-widget__label kt-widget__label-overwrite">
                                    Reporting Date: <span class="btn btn-label-brand btn-sm btn-bold btn-upper">07 may, 2019</span>
                                </div>
                            </div>

                            <div class="kt-widget__info kt-widget__info-overwrite">

                                <div class="kt-widget__progress kt-widget__progress-overwrite">
                                    <div class="kt-widget__text">
                                        Progress:
                                    </div>
                                    <div class="progress" style="height: 5px;width: 100%;">
                                        <div class="progress-bar kt-bg-success" role="progressbar" style="width: 5%;"
                                            aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="kt-widget__stats">
                                        5%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-widget__bottom kt-hidden">
                        <div class="kt-widget__item">
                            <div class="kt-widget__icon">
                                <i class="flaticon-piggy-bank"></i>
                            </div>
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">Earnings</span>
                                <span class="kt-widget__value"><span>$</span>249,500</span>
                            </div>
                        </div>

                        <div class="kt-widget__item">
                            <div class="kt-widget__icon">
                                <i class="flaticon-confetti"></i>
                            </div>
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">Expances</span>
                                <span class="kt-widget__value"><span>$</span>164,700</span>
                            </div>
                        </div>

                        <div class="kt-widget__item">
                            <div class="kt-widget__icon">
                                <i class="flaticon-pie-chart"></i>
                            </div>
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">Net</span>
                                <span class="kt-widget__value"><span>$</span>782,300</span>
                            </div>
                        </div>

                        <div class="kt-widget__item">
                            <div class="kt-widget__icon">
                                <i class="flaticon-file-2"></i>
                            </div>
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">73 Tasks</span>
                                <a href="#" class="kt-widget__value kt-font-brand">View</a>
                            </div>
                        </div>

                        <div class="kt-widget__item">
                            <div class="kt-widget__icon">
                                <i class="flaticon-chat-1"></i>
                            </div>
                            <div class="kt-widget__details">
                                <span class="kt-widget__title">648 Comments</span>
                                <a href="#" class="kt-widget__value kt-font-brand">View</a>
                            </div>
                        </div>

                        <div class="kt-widget__item">
                            <div class="kt-widget__icon">
                                <i class="flaticon-network"></i>
                            </div>
                            <div class="kt-widget__details">
                                <div class="kt-section__content kt-section__content--solid">
                                    <div class="kt-badge kt-badge__pics">
                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand"
                                            data-placement="top" title="" data-original-title="John Myer">
                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_7.jpg"
                                                alt="image">
                                        </a>
                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand"
                                            data-placement="top" title="" data-original-title="Alison Brandy">
                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_3.jpg"
                                                alt="image">
                                        </a>
                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand"
                                            data-placement="top" title="" data-original-title="Selina Cranson">
                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_2.jpg"
                                                alt="image">
                                        </a>
                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand"
                                            data-placement="top" title="" data-original-title="Luke Walls">
                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_13.jpg"
                                                alt="image">
                                        </a>
                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand"
                                            data-placement="top" title="" data-original-title="Micheal York">
                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_4.jpg"
                                                alt="image">
                                        </a>
                                        <a href="#" class="kt-badge__pic kt-badge__pic--last kt-font-brand">
                                            +7
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <tabset>
                        <tab heading="{{'GeneralAssumptions' | localize}}"></tab>
                        <tab heading="{{'PdAssumptions' | localize}}"></tab>
                        <tab heading="{{'EadAssumptions' | localize}}"></tab>
                        <tab heading="{{'LgdAssumptions' | localize}}"></tab>
                        <tab heading="{{'AssumptionAwaitingApproval' | localize}}">
                            <ng-template tabHeading>
                                <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
                            </ng-template>
                        </tab>
                        <tab heading="{{'UploadedData' | localize}}">
                            <ng-template tabHeading>
                                <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
                            </ng-template>
                        </tab>
                        <tab heading="{{'EclOverrides' | localize}}">
                            <ng-template tabHeading>
                                <span class="kt-badge kt-badge--warning kt-badge--inline">3</span>
                            </ng-template>
                        </tab>
                        <tab heading="{{'ResultSummary' | localize}}"></tab>
                        <tab heading="{{'ResultDetails' | localize}}"></tab>
                        <tab heading="{{'AuditInfo' | localize}}"></tab>
                    </tabset>
                </form>
            </div>
        </div>
    </div>
</div>