<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #wholesaleEclResultSummaryForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="wholesaleEclResultSummary.id">{{l("EditWholesaleEclResultSummary")}}</span>
                        <span *ngIf="!wholesaleEclResultSummary.id">{{l("CreateNewWholesaleEclResultSummary")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="WholesaleEclTenantId">{{l("WholesaleEcl")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="WholesaleEclTenantId" name="wholesaleEclTenantId" [(ngModel)]="wholesaleEclTenantId" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectWholesaleEclModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setWholesaleEclIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="wholesaleEclResultSummary.wholesaleEclId" [(ngModel)]="wholesaleEclResultSummary.wholesaleEclId" type="text" required hidden>
		 

								<div class="form-group">
									<label for="WholesaleEclResultSummary_SummaryType">{{l("SummaryType")}}</label>
									<select class="form-control" name="SummaryType" id="WholesaleEclResultSummary_SummaryType" [(ngModel)]="wholesaleEclResultSummary.summaryType">
									<option value="0">{{l('ByScenario')}}</option>

									<option value="1">{{l('ByStage')}}</option>

									<option value="2">{{l('ByProductType')}}</option>

									<option value="3">{{l('BySegementStage')}}</option>


									</select>
								</div>
					
								<div class="form-group">
									<label for="WholesaleEclResultSummary_Title">{{l("Title")}}</label>
									<input type="text" id="WholesaleEclResultSummary_Title" class="form-control" [(ngModel)]="wholesaleEclResultSummary.title" name="Title"    />
								</div>
					
								<div class="form-group">
									<label for="WholesaleEclResultSummary_PreOverrideExposure">{{l("PreOverrideExposure")}}</label>
									<input type="number" id="WholesaleEclResultSummary_PreOverrideExposure" class="form-control" [(ngModel)]="wholesaleEclResultSummary.preOverrideExposure" name="PreOverrideExposure"  />
								</div>
					
								<div class="form-group">
									<label for="WholesaleEclResultSummary_PreOverrideImpairment">{{l("PreOverrideImpairment")}}</label>
									<input type="number" id="WholesaleEclResultSummary_PreOverrideImpairment" class="form-control" [(ngModel)]="wholesaleEclResultSummary.preOverrideImpairment" name="PreOverrideImpairment"  />
								</div>
					
								<div class="form-group">
									<label for="WholesaleEclResultSummary_PreOverrideCoverageRatio">{{l("PreOverrideCoverageRatio")}}</label>
									<input type="number" id="WholesaleEclResultSummary_PreOverrideCoverageRatio" class="form-control" [(ngModel)]="wholesaleEclResultSummary.preOverrideCoverageRatio" name="PreOverrideCoverageRatio"  />
								</div>
					
								<div class="form-group">
									<label for="WholesaleEclResultSummary_PostOverrideExposure">{{l("PostOverrideExposure")}}</label>
									<input type="number" id="WholesaleEclResultSummary_PostOverrideExposure" class="form-control" [(ngModel)]="wholesaleEclResultSummary.postOverrideExposure" name="PostOverrideExposure"  />
								</div>
					
								<div class="form-group">
									<label for="WholesaleEclResultSummary_PostOverrideImpairment">{{l("PostOverrideImpairment")}}</label>
									<input type="number" id="WholesaleEclResultSummary_PostOverrideImpairment" class="form-control" [(ngModel)]="wholesaleEclResultSummary.postOverrideImpairment" name="PostOverrideImpairment"  />
								</div>
					
								<div class="form-group">
									<label for="WholesaleEclResultSummary_PostOverrideCoverageRatio">{{l("PostOverrideCoverageRatio")}}</label>
									<input type="number" id="WholesaleEclResultSummary_PostOverrideCoverageRatio" class="form-control" [(ngModel)]="wholesaleEclResultSummary.postOverrideCoverageRatio" name="PostOverrideCoverageRatio"  />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!wholesaleEclResultSummaryForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<wholesaleEclResultSummaryWholesaleEclLookupTableModal #wholesaleEclResultSummaryWholesaleEclLookupTableModal (modalSave)="getNewWholesaleEclId()"></wholesaleEclResultSummaryWholesaleEclLookupTableModal>
		 
</div>