<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{ pageHeader }}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("WorkspaceHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="navigateToDashboard()" class="btn btn-info"><i class="fa fa-chart-bar"></i>
                    {{l("Dashboard")}}
                </button>
            </div>
        </div>

    </div>
    <div class="kt-content">
        <div class="row">
            <div class="col-md-6" *ngIf="isGranted('Pages.Assumption.Affiliates')">
                <div class="kt-portlet kt-callout kt-callout--danger kt-callout--diagonal-bg kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
                        <div class="kt-callout__body">
                            <div class="kt-callout__content">
                                <h3 class="kt-callout__title">{{l('UpdateAffiliateAssumptions')}}</h3>
                                <p class="kt-callout__desc" [innerHTML]="l('UpdateAffiliateAssumptionsInfo', workspaceSummaryData.affiliateAssumptionNotUpdatedCount)"></p>
                            </div>
                            <div class="kt-callout__action">
                                <button (click)="navigateToAffiliateAssumptionPage()" class="btn btn-custom btn-bold btn-upper btn-font-sm  btn-warning">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" *ngIf="isGranted('Pages.Assumption.Affiliates.Review')">
                <div class="kt-portlet kt-callout kt-callout--danger kt-callout--diagonal-bg kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
                        <div class="kt-callout__body">
                            <div class="kt-callout__content">
                                <h3 class="kt-callout__title">{{l('ApproveAffiliateAssumptions')}}</h3>
                                <p class="kt-callout__desc" [innerHTML]="l('ApproveAssumptionInfo', workspaceSummaryData.affiliateAssumptionYetToBeApprovedCount)"></p>
                            </div>
                            <div class="kt-callout__action">
                                <button (click)="navigateToAffiliateAssumptionPage('submitted')" class="btn btn-custom btn-bold btn-upper btn-font-sm  btn-danger">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" *ngIf="isGranted('Pages.Workspace.CreateEcl')">
                <div class="kt-portlet kt-callout kt-callout--danger kt-callout--diagonal-bg kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
                        <div class="kt-callout__body">
                            <div class="kt-callout__content">
                                <h3 class="kt-callout__title">{{l('NewEcl')}}</h3>
                                <p class="kt-callout__desc">
                                    {{l('NewEclInfo')}}
                                </p>
                            </div>
                            <div class="kt-callout__action">
                                <button (click)="navigateToEclWorkspace()" class="btn btn-custom btn-bold btn-upper btn-font-sm  btn-success">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" *ngIf="isGranted('Pages.EclView.Submit')">
                <div class="kt-portlet kt-callout kt-callout--danger kt-callout--diagonal-bg kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
                        <div class="kt-callout__body">
                            <div class="kt-callout__content">
                                <h3 class="kt-callout__title">{{l('SubmitEcl')}}</h3>
                                <p class="kt-callout__desc" [innerHTML]="l('SubmitEclInfo', workspaceSummaryData.draftEclCount)"></p>
                            </div>
                            <div class="kt-callout__action">
                                <button (click)="navigateToEclWorkspace(eclStatusEnum.Draft)" class="btn btn-custom btn-bold btn-upper btn-font-sm  btn-warning">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" *ngIf="isGranted('Pages.EclView.Review')">
                <div class="kt-portlet kt-callout kt-callout--danger kt-callout--diagonal-bg kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
                        <div class="kt-callout__body">
                            <div class="kt-callout__content">
                                <h3 class="kt-callout__title">{{l('ApproveEcl')}}</h3>
                                <p class="kt-callout__desc" [innerHTML]="l('ApproveEclInfo', workspaceSummaryData.submittedEclCount)"></p>
                            </div>
                            <div class="kt-callout__action">
                                <button (click)="navigateToEclWorkspace(eclStatusEnum.Submitted)" class="btn btn-custom btn-bold btn-upper btn-font-sm  btn-danger">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" *ngIf="isGranted('Pages.EclView.Override')">
                <div class="kt-portlet kt-callout kt-callout--danger kt-callout--diagonal-bg kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
                        <div class="kt-callout__body">
                            <div class="kt-callout__content">
                                <h3 class="kt-callout__title">{{l('ApplyOverride')}}</h3>
                                <p class="kt-callout__desc" [innerHTML]="l('ApplyOverrideInfo')"></p>
                            </div>
                            <div class="kt-callout__action">
                                <button (click)="navigateToEclWorkspace(eclStatusEnum.PreOverrideComplete)" class="btn btn-custom btn-bold btn-upper btn-font-sm  btn-info">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" *ngIf="isGranted('Pages.EclView.Override.Review')">
                <div class="kt-portlet kt-callout kt-callout--danger kt-callout--diagonal-bg kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
                        <div class="kt-callout__body">
                            <div class="kt-callout__content">
                                <h3 class="kt-callout__title">{{l('ApproveOverride')}}</h3>
                                <p class="kt-callout__desc" [innerHTML]="l('ApproveOverrideInfo', workspaceSummaryData.submittedEclCount)"></p>
                            </div>
                            <div class="kt-callout__action">
                                <button (click)="navigateToEclWorkspace(eclStatusEnum.PreOverrideComplete)" class="btn btn-custom btn-bold btn-upper btn-font-sm  btn-danger">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                {{l('EclRunUpdates')}}
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td style="width:25%">{{l('Affiliate')}}</td>
                                        <td style="width:15%">{{l('Portfolio')}}</td>
                                        <td style="width:20%">{{l('CreatedBy')}}</td>
                                        <td style="width:15%">{{l('ReportingDate')}}</td>
                                        <td style="width:15%">{{l('Status')}}</td>
                                        <td style="width:10%"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of recentEclSummary">
                                        <!-- <td>
                                            <label class="kt-checkbox kt-checkbox--single">
                                            <input type="checkbox"><span></span>
                                            </label>
                                        </td> -->
                                        <!-- <td class="align-middle">
                                            <a href="#" class="kt-widget11__title">Nigeria</a>
                                            <span class="kt-widget11__sub">Retail</span>
                                        </td> -->
                                        <td class="align-middle">
                                            <a href="#" class="kt-widget11__title">{{item.organisationUnitName}}</a>
                                        </td>
                                        <td class="align-middle">
                                            <span class="kt-widget11__sub">{{l(frameworkEnum[item.framework])}}</span>
                                        </td>
                                        <td class="align-middle">{{item.createdByUserName}}</td>
                                        <td class="kt-font-brand kt-font-bold align-middle">{{item.reportingDate | momentFormat:'ll'}}</td>
                                        <td class="align-middle">
                                            <span class="kt-badge kt-badge--inline 
                                                         kt-badge--{{item.status === eclStatusEnum.Completed ? 'success': ( item.status === eclStatusEnum.Draft ? 'danger' : 'warning')}}">
                                                {{l(eclStatusEnum[item.status])}}
                                            </span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-hover-info btn-sm btn-elevate btn-pill"
                                                    (click)="navigateToViewEcl(item.framework, item.id)">
                                                {{l('View')}} <i class="fa fa-arrow-right"></i> 
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <!--Begin::Portlet-->
                <div class="kt-portlet kt-portlet--skin-solid kt-portlet--solid-primary kt-portlet--head-overlay">
                    <div class="kt-portlet__head kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title kt-font-light">
                                {{l('ImpairmentSummary')}}
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body  kt-margin-t-0 kt-padding-t-0">
                        <div class="kt-widget29">
                            <div class="kt-widget29__content">
                                <h3 class="kt-widget29__title">{{l('Total')}}</h3>
                                <div class="kt-widget29__item">
                                     <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('Exposure')}}</span>
                                         <span class="kt-widget29__stats kt-font-success">{{impairmentSummary.totalExposure | shortNumber: 2}}</span>
                                    </div>	
                                    <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('PreOverride')}}</span>
                                         <span class="kt-widget29__stats kt-font-brand">{{impairmentSummary.totalPreOverride | shortNumber: 2}}</span>
                                    </div>
                                    <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('PostOverride')}}</span>
                                         <span class="kt-widget29__stats kt-font-danger">{{impairmentSummary.totalPostOverride | shortNumber: 2}}</span>
                                    </div>
                                </div>	
                            </div>

                            <div class="kt-widget29__content">
                                <h3 class="kt-widget29__title">{{l('Wholesale')}}</h3>
                                <div class="kt-widget29__item">
                                     <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('Exposure')}}</span>
                                         <span class="kt-widget29__stats kt-font-success">{{impairmentSummary.wholesaleExposure | shortNumber: 2}}</span>
                                    </div>	
                                    <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('PreOverride')}}</span>
                                         <span class="kt-widget29__stats kt-font-brand">{{impairmentSummary.wholesalePreOverride | shortNumber: 2}}</span>
                                    </div>
                                    <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('PostOverride')}}</span>
                                         <span class="kt-widget29__stats kt-font-danger">{{impairmentSummary.wholesalePostOverride | shortNumber: 2}}</span>
                                    </div>
                                </div>	
                            </div>

                            <div class="kt-widget29__content">
                                <h3 class="kt-widget29__title">{{l('Retail')}}</h3>
                                <div class="kt-widget29__item">
                                     <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('Exposure')}}</span>
                                         <span class="kt-widget29__stats kt-font-success">{{impairmentSummary.retailExposure | shortNumber: 2}}</span>
                                    </div>	
                                    <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('PreOverride')}}</span>
                                         <span class="kt-widget29__stats kt-font-brand">{{impairmentSummary.retailPreOverride | shortNumber: 2}}</span>
                                    </div>
                                    <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('PostOverride')}}</span>
                                         <span class="kt-widget29__stats kt-font-danger">{{impairmentSummary.retailPostOverride | shortNumber: 2}}</span>
                                    </div>
                                </div>	
                            </div>

                            <div class="kt-widget29__content">
                                <h3 class="kt-widget29__title">{{l('Obe')}}</h3>
                                <div class="kt-widget29__item">
                                     <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('Exposure')}}</span>
                                         <span class="kt-widget29__stats kt-font-success">{{impairmentSummary.obeExposure | shortNumber: 2}}</span>
                                    </div>	
                                    <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('PreOverride')}}</span>
                                         <span class="kt-widget29__stats kt-font-brand">{{impairmentSummary.obePreOverride | shortNumber: 2}}</span>
                                    </div>
                                    <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('PostOverride')}}</span>
                                         <span class="kt-widget29__stats kt-font-danger">{{impairmentSummary.obePostOverride | shortNumber: 2}}</span>
                                    </div>
                                </div>	
                            </div>

                            <div class="kt-widget29__content">
                                <h3 class="kt-widget29__title">{{l('Investment')}}</h3>
                                <div class="kt-widget29__item">
                                     <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('Exposure')}}</span>
                                         <span class="kt-widget29__stats kt-font-success">{{impairmentSummary.investmentExposure | shortNumber: 2}}</span>
                                    </div>	
                                    <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('PreOverride')}}</span>
                                         <span class="kt-widget29__stats kt-font-brand">{{impairmentSummary.investmentPreOverride | shortNumber: 2}}</span>
                                    </div>
                                    <div class="kt-widget29__info">
                                         <span class="kt-widget29__subtitle">{{l('PostOverride')}}</span>
                                         <span class="kt-widget29__stats kt-font-danger">{{impairmentSummary.investmentPostOverride | shortNumber: 2}}</span>
                                    </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::Portlet-->
            </div>
        </div>
    </div>
</div>