<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("AffiliateSettings")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                <span>{{l("AffiliateSettingsHeaderInfo")}}</span>
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                
            </div>
        </div>

    </div>
    <div class="kt-content">
        <div class="row">
            <div class="col-lg-4">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">
                        <form class="kt-form" autocomplete="off">
                            <div>
                                <div class="row align-items-center">
                                    <div class="col-xl-12">
                                        <div class="form-group m-form__group align-items-center">
                                            <div class="input-group">
                                                <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                    class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                    type="text">
                                                <span class="input-group-btn">
                                                    <button (click)="getAffiliates()" class="btn btn-primary" type="submit"><i
                                                            class="flaticon-search-1"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
        
                        <div class="row align-items-center">
                            <!--<Primeng-Datatable-Start>-->
                            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable (onLazyLoad)="getAffiliates($event)" [value]="primengTableHelper.records"
                                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                                    [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns" [(selection)]="selectedAffiliate" selectionMode="single">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 150px" pSortableColumn="displayName">
                                                {{l('Affiliate')}}
                                                <p-sortIcon field="displayName"></p-sortIcon>
                                            </th>
                                            <!-- <th style="width: 150px" pSortableColumn="displayName">
                                                {{l('Currency')}}
                                                <p-sortIcon field="displayName"></p-sortIcon>
                                            </th> -->
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr [pSelectableRow]="record">
                                            <td style="width:150px">
                                                <span class="ui-column-title"> {{l('InputName')}}</span>
                                                {{record.affiliateConfiguration.affiliateName}}
                                            </td>
                                            <!-- <td style="width:150px">
                                                <span class="ui-column-title"> {{l('InputName')}}</span>
                                                {{record.affiliateConfiguration.currency}}
                                            </td> -->
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{l('NoData')}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        (onPageChange)="getAffiliates($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span>
                                </div>
                            </div>
                            <!--<Primeng-Datatable-End>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div *ngIf="selectedAffiliate !== undefined && selectedAffiliate !== null"  class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                {{selectedAffiliate === undefined ? "" : selectedAffiliate.affiliateConfiguration.affiliateName}}
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <button *ngIf="isGranted('Pages.Configurations.Update')" (click)="applyOverride()" class="btn btn-outline-success">
                                <i class="fa fa-save" style="font-size: 1.2rem !important;"></i>
                                {{l("Save")}}
                            </button>                    
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <tabset class="tab-container">
                            <tab heading="{{'OverrideThreshold' | localize}}" [active]="true">
                                <div class="">
                                    <div class="kt-portlet__body">
                                        <div class="kt-callout__body">
                                            <div class="kt-callout__content">
                                                <h3 class="kt-callout__title">
                                                    {{l('OutstandingBalanceLimit')}}
                                                </h3>
                                                <p class="kt-callout__desc">
                                                    {{l('OutstandingBalanceLimitInfo')}}
                                                </p>
                                            </div>
                                            <div class="kt-callout__action">
                                                <div class="form-group">
                                                    <input class="form-control col-lg-5" type="number" [(ngModel)]="selectedAffiliate.affiliateConfiguration.overrideThreshold" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{'Currency' | localize}}">
                                <div class="">
                                    <div class="kt-portlet__body">
                                        <div class="kt-callout__body">
                                            <div class="kt-callout__content">
                                                <h3 class="kt-callout__title">
                                                    {{l('Currency')}}
                                                </h3>
                                                <p class="kt-callout__desc">
                                                    {{l('CurrencyInfo')}}
                                                </p>
                                            </div>
                                            <div class="kt-callout__action">
                                                <div class="form-group">
                                                    <input class="form-control col-lg-5" type="text" [(ngModel)]="selectedAffiliate.affiliateConfiguration.currency" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>