<!--begin::Accordion-->
<div *ngIf="displayForm" class="accordion accordion-light  accordion-toggle-arrow" id="accordionExample5">
    <!-- Cure Rate -->
    <div *ngIf="affiliateFramework !== frameworkEnum.Investments" class="card">
        <div class="card-header" id="heading1">
            <div class="card-title" (click)="toggleAccordion(0)"
                [ngClass]="{collapsed: !accordionList[0].isActive}">
                <i class="flaticon-pie-chart-1"></i>
                {{l(accordionList[0].key)}}
            </div>
        </div>
        <div id="collapse1" class="collapse" [ngClass]="{show: accordionList[0].isActive}">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('SegmentProductType')}}</th>
                                <th>{{l('CureRate')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cureRateGroup">
                                <td>{{item.inputName}}</td>
                                <td>
                                    <span *ngIf="!viewOnly  && isGranted('Pages.Assumption.Affiliates.Edit')" class="hoverable pull-right" (click)="editAssumption(item, lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.UnsecuredRecoveriesCureRate])">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <span class="kt-widget1__number kt-font-brand">
                                        <span>{{item.value | percent:'1.2-2'}}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Time to Default -->
    <div *ngIf="affiliateFramework !== frameworkEnum.Investments" class="card">
        <div class="card-header" id="heading2">
            <div class="card-title" (click)="toggleAccordion(1)"
                [ngClass]="{collapsed: !accordionList[1].isActive}">
                <i class="flaticon-pie-chart-1"></i>
                {{l(accordionList[1].key)}}
            </div>
        </div>
        <div id="collapse2" class="collapse" [ngClass]="{show: accordionList[1].isActive}">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('SegmentProductType')}}</th>
                                <th>{{l('TimeInDefault')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of timeToDefaultGroup">
                                <td>{{item.inputName}}</td>
                                <td>
                                    <span class="hoverable pull-right" *ngIf="!viewOnly  && isGranted('Pages.Assumption.Affiliates.Edit')"
                                        (click)="editAssumption(item, lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.UnsecuredRecoveriesTimeInDefault])">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <span class="kt-widget1__number kt-font-brand">
                                        <span>{{item.value | percent:'1.2-2'}}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Cost of Recovery -->
    <div *ngIf="affiliateFramework !== frameworkEnum.Investments" class="card">
        <div class="card-header" id="heading3">
            <div class="card-title" (click)="toggleAccordion(2)"
                [ngClass]="{collapsed: !accordionList[2].isActive}">
                <i class="flaticon-pie-chart-1"></i>
                {{l(accordionList[2].key)}}
            </div>
        </div>
        <div id="collapse3" class="collapse" [ngClass]="{show: accordionList[2].isActive}">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('CollateralType')}}</th>
                                <th>{{l('CollateralValueHigh')}}</th>
                                <th>{{l('CollateralValueLow')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of corHighGroup; let i = index">
                                <td>{{item.inputName}}</td>
                                <td>
                                    <span class="hoverable pull-right" *ngIf="!viewOnly && isGranted('Pages.Assumption.Affiliates.Edit')"
                                        (click)="editAssumption(item, lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CostOfRecoveryHigh])">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <span class="kt-widget1__number kt-font-brand">
                                        <span *ngIf="item.dataType == dataTypeEnum.DoublePercentage">{{item.value | percent:'1.2-2'}}</span>
                                        <span *ngIf="item.dataType == dataTypeEnum.DoubleMoney">{{item.value | number:'1.0-0'}}</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="hoverable pull-right" *ngIf="!viewOnly  && isGranted('Pages.Assumption.Affiliates.Edit')"
                                        (click)="editAssumption(corLowGroup[i], lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CostOfRecoveryLow])">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <span class="kt-widget1__number kt-font-brand">
                                        <span *ngIf="item.dataType == dataTypeEnum.DoublePercentage">{{corLowGroup[i].value | percent:'1.2-2'}}</span>
                                        <span *ngIf="item.dataType == dataTypeEnum.DoubleMoney">{{corLowGroup[i].value | number:'1.0-0'}}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Collateral Growth -->
    <div *ngIf="affiliateFramework !== frameworkEnum.Investments" class="card">
        <div class="card-header" id="heading4">
            <div class="card-title" (click)="toggleAccordion(3)"
                [ngClass]="{collapsed: !accordionList[3].isActive}">
                <i class="flaticon-pie-chart-1"></i>
                {{l(accordionList[3].key)}}
            </div>
        </div>
        <div id="collapse4" class="collapse" [ngClass]="{show: accordionList[3].isActive}">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('CollateralType')}}</th>
                                <th>{{l('Value')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of collateralGrowthGroup">
                                <td>{{item.inputName}}</td>
                                <td>
                                    <span class="hoverable pull-right" *ngIf="!viewOnly  && isGranted('Pages.Assumption.Affiliates.Edit')"
                                        (click)="editAssumption(item, lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CollateralGrowthBest])">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <span class="kt-widget1__number kt-font-brand">
                                        <span>{{item.value | percent:'1.2-2'}}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Collateral TTR -->
    <div *ngIf="affiliateFramework !== frameworkEnum.Investments" class="card">
        <div class="card-header" id="heading5">
            <div class="card-title" (click)="toggleAccordion(4)"
                [ngClass]="{collapsed: !accordionList[4].isActive}">
                <i class="flaticon-pie-chart-1"></i>
                {{l(accordionList[4].key)}}
            </div>
        </div>
        <div id="collapse5" class="collapse" [ngClass]="{show: accordionList[4].isActive}">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('CollateralType')}}</th>
                                <th>{{l('Value')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of collateralTTRGroup">
                                <td>{{item.inputName}}</td>
                                <td>
                                    <span class="hoverable pull-right" *ngIf="!viewOnly  && isGranted('Pages.Assumption.Affiliates.Edit')"
                                        (click)="editAssumption(item, lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CollateralTTR])">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <span class="kt-widget1__number kt-font-brand">
                                        <span>{{item.value | number:'1.2-2'}}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Investment -->
    <div *ngIf="affiliateFramework === frameworkEnum.Investments" class="card">
        <div class="card-header" id="heading6">
            <div class="card-title" (click)="toggleAccordion(5)"
                [ngClass]="{collapsed: !accordionList[5].isActive}">
                <i class="flaticon-pie-chart-1"></i>
                {{l(accordionList[5].key)}}
            </div>
        </div>
        <div id="collapse6" class="collapse" [ngClass]="{show: accordionList[5].isActive}">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('Scenario')}}</th>
                                <th>{{l('Estimate')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of investmentGroup">
                                <td>{{item.inputName}}</td>
                                <td>
                                    <span class="hoverable pull-right" *ngIf="!viewOnly  && isGranted('Pages.Assumption.Affiliates.Edit')" (click)="editAssumption(item, lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.General])">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <span class="kt-widget1__number kt-font-brand">
                                        <span>{{item.value | percent:'1.2-2'}}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Accordion-->
<app-edit-assumption-modal #editAssumptionModal></app-edit-assumption-modal>

