<tabset *ngIf="displayForm">
    <tab heading="{{lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.UnsecuredRecoveriesCureRate] | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of cureRateGroup">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 *ngIf="item.dataType !== dataTypeEnum.DoubleMoney && item.dataType !== dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value}}
                        </h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoubleMoney"
                            class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable" (click)="editAssumption(item, lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.UnsecuredRecoveriesCureRate])">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.UnsecuredRecoveriesTimeInDefault] | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of timeToDefaultGroup">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 *ngIf="item.dataType !== dataTypeEnum.DoubleMoney && item.dataType !== dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value}}
                        </h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoubleMoney"
                            class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable" (click)="editAssumption(item, lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.UnsecuredRecoveriesTimeInDefault])">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CostOfRecoveryHigh] | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of corHighGroup">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 *ngIf="item.dataType !== dataTypeEnum.DoubleMoney && item.dataType !== dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value}}
                        </h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoubleMoney"
                            class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable" (click)="editAssumption(item, lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CostOfRecoveryHigh])">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CostOfRecoveryLow] | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of corLowGroup">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 *ngIf="item.dataType !== dataTypeEnum.DoubleMoney && item.dataType !== dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value}}
                        </h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoubleMoney"
                            class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable" (click)="editAssumption(item, lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CostOfRecoveryLow])">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CollateralGrowthBest] | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of collateralGrowthGroup">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 *ngIf="item.dataType !== dataTypeEnum.DoubleMoney && item.dataType !== dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value}}
                        </h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoubleMoney"
                            class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable" (click)="editAssumption(item, lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CollateralGrowthBest])">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CollateralTTR] | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of collateralTTRGroup">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 *ngIf="item.dataType !== dataTypeEnum.DoubleMoney && item.dataType !== dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value}}
                        </h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoubleMoney"
                            class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable" (click)="editAssumption(item, lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CollateralTTR])">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
</tabset>
<app-edit-assumption-modal #editAssumptionModal></app-edit-assumption-modal>

