<div [@routerTransition]>
  
    <div class="kt-subheader kt-grid__item">
      
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("EclConfigurations")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("EclConfigurationsHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="saveAllEclSettings()" class="btn btn-primary">
                    <i class="fa fa-save" style="font-size: 1.2rem !important;"></i>
                    {{l("Save")}}
                </button>
                <button (click)="goBack()" class="btn btn-outline-danger">
                    <i class="fa fa-reply" style="font-size: 1.2rem !important;"></i>
                    {{l("GoBack")}}
                </button>
            </div>
        </div>
      
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div *ngIf="loading" class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <div class="kt-portlet__body">
                <tabset *ngIf="!loading">
                    <tab heading="{{'OverrideCutoffTime' | localize}}">
                        <div class="">
                            <div class="kt-portlet__body">
                                <div class="kt-callout__body">
                                    <div class="kt-callout__content">
                                        <h3 class="kt-callout__title">
                                            {{l('OverrideCutoffTime')}}
                                        </h3>
                                        <p class="kt-callout__desc">
                                            {{l('OverrideCutoffTimeInfo')}}
                                        </p>
                                    </div>
                                    <div class="kt-callout__action">
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <input class="form-control" type="datetime" bsDatepicker  id="OverrideCutoffDate" name="OverrideCutoffDate" [(ngModel)]="eclSettings.overrideCutOffTime._d">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab *ngIf="false" heading="{{'InputMethod' | localize}}">
                        <div class="">
                            <div class="kt-portlet__body">
                                <div class="kt-callout__body">
                                    <div class="kt-callout__content">
                                        <h3 class="kt-callout__title">
                                            {{l('LoanBook')}}
                                        </h3>
                                        <p class="kt-callout__desc">
                                            {{l('ConfigureDataSourceInfo', 'Loanbook')}}
                                        </p>
                                    </div>
                                    <div class="kt-callout__action">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Wholesale')}}</label>
                                                    <div>
                                                        <span class="kt-switch kt-switch--lg kt-switch--outline kt-switch--icon kt-switch--success">
                                                            <label>
                                                                <input type="checkbox" name="WholesaleLoanBookSource" id="WholesaleLoanBookSource" [(ngModel)]="eclSettings.loanBookSnapshot.wholesaleStaging">
                                                                <span></span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <span class="form-text text-muted">{{ eclSettings.loanBookSnapshot.wholesaleStaging ? l('LoadFromStaging') : l('UseExcelUpload') }}</span>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Retail')}}</label>
                                                    <div>
                                                        <span class="kt-switch kt-switch--lg kt-switch--outline kt-switch--icon kt-switch--success">
                                                            <label>
                                                                <input type="checkbox" name="RetailLoanBookSource" id="RetailLoanBookSource" [(ngModel)]="eclSettings.loanBookSnapshot.retailStaging">
                                                                <span></span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <span class="form-text text-muted">{{ eclSettings.loanBookSnapshot.retailStaging ? l('LoadFromStaging') : l('UseExcelUpload') }}</span>
                                                </div>
                                            </div>
                                            
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Obe')}}</label>
                                                    <div>
                                                        <span class="kt-switch kt-switch--lg kt-switch--outline kt-switch--icon kt-switch--success">
                                                            <label>
                                                                <input type="checkbox" name="ObeLoanBookSource" id="ObeLoanBookSource" [(ngModel)]="eclSettings.loanBookSnapshot.obeStaging">
                                                                <span></span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <span class="form-text text-muted">{{ eclSettings.loanBookSnapshot.obeStaging ? l('LoadFromStaging') : l('UseExcelUpload') }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-separator kt-separator--border-dashed my-0"></div>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="kt-portlet__body">
                                <div class="kt-callout__body">
                                    <div class="kt-callout__content">
                                        <h3 class="kt-callout__title">
                                            {{l('PaymentSchedule')}}
                                        </h3>
                                        <p class="kt-callout__desc">
                                            {{l('ConfigureDataSourceInfo', 'Payment Schedule')}}
                                        </p>
                                    </div>
                                    <div class="kt-callout__action">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Wholesale')}}</label>
                                                    <div>
                                                        <span class="kt-switch kt-switch--lg kt-switch--outline kt-switch--icon kt-switch--success">
                                                            <label>
                                                                <input type="checkbox" name="WholesalePaymentScheduleSource" id="WholesalePaymentScheduleSource" [(ngModel)]="eclSettings.paymentSchedule.wholesaleStaging">
                                                                <span></span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <span class="form-text text-muted">{{ eclSettings.paymentSchedule.wholesaleStaging ? l('LoadFromStaging') : l('UseExcelUpload') }}</span>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Retail')}}</label>
                                                    <div>
                                                        <span class="kt-switch kt-switch--lg kt-switch--outline kt-switch--icon kt-switch--success">
                                                            <label>
                                                                <input type="checkbox" name="RetailPaymentScheduleSource" id="RetailPaymentScheduleSource" [(ngModel)]="eclSettings.paymentSchedule.retailStaging">
                                                                <span></span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <span class="form-text text-muted">{{ eclSettings.paymentSchedule.retailStaging ? l('LoadFromStaging') : l('UseExcelUpload') }}</span>
                                                </div>
                                            </div>
                                            
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Obe')}}</label>
                                                    <div>
                                                        <span class="kt-switch kt-switch--lg kt-switch--outline kt-switch--icon kt-switch--success">
                                                            <label>
                                                                <input type="checkbox" name="ObePaymentScheduleSource" id="ObePaymentScheduleSource" [(ngModel)]="eclSettings.paymentSchedule.obeStaging">
                                                                <span></span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <span class="form-text text-muted">{{ eclSettings.paymentSchedule.obeStaging ? l('LoadFromStaging') : l('UseExcelUpload') }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-separator kt-separator--border-dashed my-0"></div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="">
                            <div class="kt-portlet__body">
                                <div class="kt-callout__body">
                                    <div class="kt-callout__content">
                                        <h3 class="kt-callout__title">
                                            {{l('RawDataAssetBook')}}
                                        </h3>
                                        <p class="kt-callout__desc">
                                            {{l('ConfigureDataSourceInfo', 'Asset book')}}
                                        </p>
                                    </div>
                                    <div class="kt-callout__action">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Investment')}}</label>
                                                    <div>
                                                        <span class="kt-switch kt-switch--lg kt-switch--outline kt-switch--icon kt-switch--success">
                                                            <label>
                                                                <input type="checkbox" name="InvestmentAssetBook" id="InvestmentAssetBook" [(ngModel)]="eclSettings.assetBook.invesmentStaging">
                                                                <span></span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <span class="form-text text-muted">{{ eclSettings.assetBook.invesmentStaging ? l('LoadFromStaging') : l('UseExcelUpload') }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="kt-separator kt-separator--border-dashed my-0">
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'Approvals' | localize}}">
                        <div class="">
                            <div class="kt-portlet__body">
                                <div class="kt-callout__body">
                                    <div class="kt-callout__content">
                                        <h3 class="kt-callout__title">
                                            {{l('RequiredNoOfApprovals')}}
                                        </h3>
                                        <p class="kt-callout__desc">
                                            {{l('RequiredNoOfApprovalsInfo')}}
                                        </p>
                                    </div>
                                    <div class="kt-callout__action">
                                        <div class="form-group">
                                            <input class="form-control col-lg-2 col-md-3" type="number" [(ngModel)]="eclSettings.requiredNumberOfApprovals"  id="RequiredNoOfApprovals" name="RequiredNoOfApprovals" min="1" max="5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab *ngIf="true" heading="{{'Dashboard' | localize}}">
                        <div class="form-group">
                            <label for="ReportURL"> Power BI Report URL </label>
                            <input id="ReportUrl" type="text" name="reportUrl" class="form-control"
                                [(ngModel)]="eclSettings.powerBiReportUrl" >
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
