<div [busyIf]="loading">
<tabset *ngIf="displayForm">
    <tab heading="{{'Pd12Months' | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{l('Credit')}}</th>
                        <th>{{l('PD')}}</th>
                        <th>{{l('SnPMappingEtiCreditPolicy')}}</th>
                        <th>{{l('SnPMappingBestFit')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of creditPds; let i = index">
                        <td><span class="text-right">{{item.inputName}}</span></td>
                        <td>
                            <span class="hoverable pull-right">
                                <i class="fa fa-edit"></i>
                            </span>
                            <span class="kt-widget1__number kt-font-brand">
                                <span>{{item.value | percent:'1.2-2'}}</span>
                            </span>
                        </td>
                        <td>
                            <span class="hoverable pull-right">
                                <i class="fa fa-edit"></i>
                            </span>
                            <span class="kt-widget1__number kt-font-brand">
                                {{ etiPolicy[i].value }}
                            </span>
                        </td>
                        <td>
                            <span class="hoverable pull-right">
                                <i class="fa fa-edit"></i>
                            </span>
                            <span class="kt-widget1__number kt-font-brand">
                                {{ bestFit[i].value }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </tab>
    <tab heading="{{'PdInputSnPCummulativeDefaultRates' | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="form-group kt-form__group row">
            <label for="example-text-input" class="col-lg-2 col-form-label">{{l('Rating')}}</label>
            <select id="Rating" class="form-control col-lg-4" [(ngModel)]="selectedRating" name="Rating" (ngModelChange)="filterSnPCummulativeDefaultRate()">
                <option value="">All</option>
                <option *ngFor="let item of snpRatings" [value]="item">{{item}}</option>
            </select>
            <label for="example-text-input" class="col-lg-2 col-form-label">{{l('Year')}}</label>
            <select id="Year" class="form-control col-lg-4" [(ngModel)]="selectedYear" name="Year" (ngModelChange)="filterSnPCummulativeDefaultRate()">
                <option value="-1">All</option>
                <option *ngFor="let item of snpYears" [value]="item">{{item}}</option>
            </select>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{l('Rating')}}</th>
                        <th>{{l('Year')}}</th>
                        <th>{{l('Value')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of selectedSnpCummulativeDefaultRate">
                        <td>{{item.rating}}</td>
                        <td><span class="text-right">{{item.years}}</span></td>
                        <td>
                            <span class="hoverable pull-right">
                                <i class="fa fa-edit"></i>
                            </span>
                            <span class="kt-widget1__number kt-font-brand">
                                <span>{{item.value | percent:'1.2-2'}}</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </tab>
    <tab heading="{{'PdInputAssumptionNonInternalModel' | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="form-group kt-form__group row">
            <label for="example-text-input" class="col-lg-2 col-form-label">{{l('PdGroup')}}</label>
            <select id="PdGroup" class="form-control col-lg-2" [(ngModel)]="selectedPdGroup" name="PdGroup" (ngModelChange)="filterNonInternalModel()">
                <option value="">All</option>
                <option *ngFor="let item of pdGroups" [value]="item">{{item}}</option>
            </select>
            <label for="example-text-input" class="col-lg-2 col-form-label">{{l('Month')}}</label>
            <select id="NonInternalMonth" class="form-control col-lg-2" [(ngModel)]="selectedNonInternalMonth" name="NonInternalMonth" (ngModelChange)="filterNonInternalModel()">
                <option value="-1">All</option>
                <option *ngFor="let item of pdMonths" [value]="item">{{item}}</option>
            </select>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{l('PdGroup')}}</th>
                        <th>{{l('Month')}}</th>
                        <th>{{l('MarginalDefaultRate')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of selectedNonInternalModelAssumptions">
                        <td>{{item.pdGroup}}</td>
                        <td><span class="text-right">{{item.month}}</span></td>
                        <td>
                            <span class="hoverable pull-right">
                                <i class="fa fa-edit"></i>
                            </span>
                            <span class="kt-widget1__number kt-font-brand">
                                <span>{{item.marginalDefaultRate | percent:'1.2-2'}}</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </tab>
    <tab heading="{{'PdInputAssumptionNplIndex' | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{l('Date')}}</th>
                        <th>{{l('NplActual')}}</th>
                        <th>{{l('NplStandardized')}}</th>
                        <th>{{l('NplSeries')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pdNplIndexAssumptions">
                        <td>{{item.date | momentFormat: 'LL'}}</td>
                        <td><span class="text-right kt-font-brand">{{item.actual | number: '1.2-2'}}</span></td>
                        <td><span class="text-right kt-font-brand">{{item.standardised | number: '1.2-2'}}</span></td>
                        <td>
                            <span class="hoverable pull-right">
                                <i class="fa fa-edit"></i>
                            </span>
                            <span class="kt-widget1__number kt-font-brand">
                                <span>{{item.etiNplSeries | percent:'1.2-2'}}</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </tab>
    
    <tab heading="{{'PdMacroeconomicInput' | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="form-group kt-form__group row">
            <!-- <label for="example-text-input" class="col-lg-2 col-form-label">{{l('Mode')}}</label>
            <select id="MacroMode" class="form-control col-lg-2" [(ngModel)]="selectedMode" name="MacroMode" (ngModelChange)="filterMacroeconomic()">
                <option value="">All</option>
                <option *ngFor="let item of pdModes" [value]="item">{{item}}</option>
            </select> -->
            <label for="example-text-input" class="col-lg-4 col-xl-3 col-form-label">{{l('MacroVariable')}}</label>
            <select id="MacroVariable" class="form-control col-lg-4" [(ngModel)]="selectedMacroeconomicVariable" name="MacroVariable" (ngModelChange)="filterMacroeconomic()">
                <option value="">All</option>
                <option *ngFor="let item of pdMacroeconomicVariables" [value]="item.value">{{item.name}}</option>
            </select>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('Mode')}}</th>
                                <th>{{l('MacroVariable')}}</th>
                                <th>{{l('Value')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of selectedMacroeconomicInputs">
                                <td>{{item.inputName}}</td>
                                <td><span class="text-right">{{item.macroeconomicVariable}}</span></td>
                                <td>
                                    <span class="hoverable pull-right">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <span class="kt-widget1__number kt-font-brand">
                                        <span>{{item.value | number:'1.2-2'}}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="{{'PdMacroeconomicProjection' | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="form-group kt-form__group row">
            <label for="example-text-input" class="col-lg-4 col-xl-3 col-form-label">{{l('MacroVariable')}}</label>
            <select id="MacroVariable" class="form-control col-lg-4" [(ngModel)]="selectedMacroeconomicVariable" name="MacroVariable" (ngModelChange)="filterMacroeconomicProjection()">
                <option value="">All</option>
                <option *ngFor="let item of pdMacroeconomicVariables" [value]="item.value">{{item.name}}</option>
            </select>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('Date')}}</th>
                                <th>{{l('MacroVariable')}}</th>
                                <th>{{l('Best')}}</th>
                                <th>{{l('Optimistic')}}</th>
                                <th>{{l('Downturn')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of selectedMacroeconomicProjections">
                                <td>{{item.date | momentFormat: 'LL'}}</td>
                                <td><span class="text-right">{{item.inputName}}</span></td>
                                <td><span class="text-right kt-font-brand">{{item.bestValue | number: '1.2-2'}}</span></td>
                                <td><span class="text-right kt-font-brand">{{item.optimisticValue | number: '1.2-2'}}</span></td>
                                <td>
                                    <span class="hoverable pull-right">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <span class="kt-widget1__number kt-font-brand">
                                        <span>{{item.downturnValue | number:'1.2-2'}}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </tab>
</tabset>
</div>
