<tabset *ngIf="displayForm">
    <tab heading="{{'Pd12Months' | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{l('Credit')}}</th>
                        <th>{{l('PD')}}</th>
                        <th>{{l('SnPMappingEtiCreditPolicy')}}</th>
                        <th>{{l('SnPMappingBestFit')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of creditPds; let i = index">
                        <td><span class="text-right">{{item.inputName}}</span></td>
                        <td>
                            <span class="hoverable pull-right">
                                <i class="fa fa-edit"></i>
                            </span>
                            <span class="kt-widget1__number kt-font-brand">
                                <span>{{item.value | percent:'1.2-2'}}</span>
                            </span>
                        </td>
                        <td>
                            <span class="hoverable pull-right">
                                <i class="fa fa-edit"></i>
                            </span>
                            <span class="kt-widget1__number kt-font-brand">
                                {{ etiPolicy[i].value }}
                            </span>
                        </td>
                        <td>
                            <span class="hoverable pull-right">
                                <i class="fa fa-edit"></i>
                            </span>
                            <span class="kt-widget1__number kt-font-brand">
                                {{ bestFit[i].value }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </tab>
    <tab heading="{{'PdInputAssumptions' | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of pdInputAssumptions">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 *ngIf="item.dataType !== dataTypeEnum.DoubleMoney && item.dataType !== dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value}}
                        </h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoublePercentage"
                            class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</h4>
                        <h4 *ngIf="item.dataType == dataTypeEnum.DoubleMoney"
                            class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{'PdMacroeconomicInputAssumptions'| localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of pdMacroeconomicInputAssumptions">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 class="kt-widget1__number kt-font-brand">{{item.value}}
                        </h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{'PdMacroeconomicProjectionsAssumptions' | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of pdMacroeconomicProjectionsAssumptions">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.inputName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 class="kt-widget1__number kt-font-brand">{{item.bestValue | number:'1.2-2'}}</h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{'PdNonInternalModelAssumptions' | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of pdNonInternalModelAssumptions">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.month}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 class="kt-widget1__number kt-font-brand">
                            {{item.marginalDefaultRate | percent:'1.2-2'}}
                        </h4>                        
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{'PdNplIndexAssumptions' | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of pdNplIndexAssumptions">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.date | momentFormat: 'LL'}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 class="kt-widget1__number kt-font-brand">
                            {{item.actual }}
                        </h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
    <tab heading="{{'PdSnpCumulativeDefaultRate' | localize}}">
        <!-- <ng-template tabHeading>
            <span class="kt-badge kt-badge--warning kt-badge--inline">2</span>
        </ng-template> -->
        <div class="row">
            <div class="col-xl-6 pl-2" *ngFor="let item of pdSnpCumulativeDefaultRate">
                <!--begin:: Widgets/Stats2-1 -->
                <div class="row pb-2">
                    <div class="col-lg-8">
                        <div class="">
                            <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                            <span class="">{{item.rating}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 class="kt-widget1__number kt-font-brand">
                            {{ item.value }}
                        </h4>
                    </div>
                    <div class="col-lg-1">
                        <span class="hoverable">
                            <i class="fa fa-edit"></i>
                        </span>
                    </div>
                </div>
                <!--end:: Widgets/Stats2-1 -->
            </div>
        </div>
    </tab>
</tabset>
