<div class="kt-footer kt-grid__item" id="kt_footer">
    <div class="kt-container" *ngIf="useBottomDiv">
        <div class="kt-footer__bottom">
            <div class="kt-footer__copyright">
                Developed by Pwc
            </div>
            <div class="kt-footer__menu">
                ECL Engine
            </div>
        </div>
    </div>
    <div class="kt-container" *ngIf="!useBottomDiv">
        <div class="kt-footer__wrapper">
            <div class="kt-footer__copyright">
                Developed by PwC
            </div>
            <div class="kt-footer__menu">
                ECL Engine
            </div>
        </div>
    </div>
</div>