<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #wholesaleEclForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="wholesaleEcl.id">{{l("EditWholesaleEcl")}}</span>
                        <span *ngIf="!wholesaleEcl.id">{{l("CreateNewWholesaleEcl")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="UserName">{{l("User")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setClosedByUserIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="wholesaleEcl.closedByUserId" [(ngModel)]="wholesaleEcl.closedByUserId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="WholesaleEcl_ReportingDate">{{l("ReportingDate")}}</label>
									 <input required class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="wholesaleEcl.reportingDate._d" id="WholesaleEcl_ReportingDate" name="WholesaleEcl_ReportingDate">
								</div>
					
								<div class="form-group">
									<label for="WholesaleEcl_ClosedDate">{{l("ClosedDate")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="closedDate" id="WholesaleEcl_ClosedDate" name="WholesaleEcl_ClosedDate">
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="WholesaleEcl_IsApproved" class="kt-checkbox">
										<input id="WholesaleEcl_IsApproved" type="checkbox" name="IsApproved" [(ngModel)]="wholesaleEcl.isApproved"> 
										{{l("IsApproved")}}
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="WholesaleEcl_Status">{{l("Status")}}</label>
									<select class="form-control" name="Status" id="WholesaleEcl_Status" [(ngModel)]="wholesaleEcl.status">
									<option value="0">{{l('Draft')}}</option>

									<option value="1">{{l('Submitted')}}</option>

									<option value="2">{{l('ApprovedAssumption')}}</option>

									<option value="3">{{l('ComputedPD')}}</option>

									<option value="4">{{l('ComputedSICR')}}</option>

									<option value="5">{{l('ComputedEAD')}}</option>

									<option value="6">{{l('ComputedLGD')}}</option>

									<option value="7">{{l('ComputedECL')}}</option>

									<option value="8">{{l('Completed')}}</option>

									<option value="9">{{l('Closed')}}</option>


									</select>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!wholesaleEclForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<wholesaleEclUserLookupTableModal #wholesaleEclUserLookupTableModal (modalSave)="getNewClosedByUserId()"></wholesaleEclUserLookupTableModal>
		 
</div>