<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("RetailECLs")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("ViewEcl")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="editEcl()" class="btn btn-outline-primary">
                    <i class="fa fa-edit" style="font-size: 1.2rem !important;"></i>
                    {{l("Edit")}}
                </button>
                <button (click)="approveEcl()" class="btn btn-primary">
                    <i class="fa fa-check-double" style="font-size: 1.2rem !important;"></i>
                    {{l("Approve")}}
                </button>
                <button (click)="runEclComputation()" class="btn btn-success">
                    <i class="fa fa-play-circle" style="font-size: 1.2rem !important;"></i>
                    {{l("Run")}}
                </button>
                <button (click)="goBack()" class="btn btn-outline-danger">
                    <i class="fa fa-reply" style="font-size: 1.2rem !important;"></i>
                    {{l("GoBack")}}
                </button>
            </div>
        </div>

    </div>
    <div class="kt-content">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-widget kt-widget--user-profile-3">
                    <div class="kt-widget__top">
                        <div class="kt-widget__content">
                            <div class="kt-widget__head">
                                <div class="kt-widget__user">
                                    <a href="javascript:void(0);" class="kt-widget__username">
                                        #{{retailEClDto.id}} &nbsp;
                                    </a>
                                </div>
                                <div class="kt-widget__action">
                                    <span
                                        class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill kt-badge--rounded">
                                        {{l(eclStatusEnum[retailEClDto.status])}}
                                    </span>
                                </div>
                            </div>

                            <div class="kt-widget__subhead kt-widget__subhead-overwrite">
                                <span class="pr-5">Country: <b>{{retailEclDetails.country}}</b> </span>
                                <span class="pr-5">Created By: <b>{{retailEclDetails.createdByUserName}}</b></span>
                                <div class="kt-widget__label kt-widget__label-overwrite">
                                    Reporting Date: <span
                                        class="btn btn-label-brand btn-sm btn-bold btn-upper">{{retailEClDto.reportingDate | momentFormat:'LL'}}</span>
                                </div>
                            </div>

                            <div class="kt-widget__info kt-widget__info-overwrite">

                                <div class="kt-widget__progress kt-widget__progress-overwrite">
                                    <div class="kt-widget__text">
                                        Progress:
                                    </div>
                                    <div class="progress" style="height: 5px;width: 100%;">
                                        <div class="progress-bar kt-bg-success" role="progressbar" style="width: 5%;"
                                            aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="kt-widget__stats">
                                        5%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4">
                <div class="kt-portlet ">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                {{l('FrameworkAssumptions')}}
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
               
                        <!--begin::Accordion-->
                        <div class="accordion accordion-light  accordion-toggle-arrow" id="accordionExample5">
                            <div class="card">
                                <div class="card-header" id="headingOne5">
                                    <div class="card-title" (click)="showScenarioGroup = !showScenarioGroup" [ngClass]="{collapsed: !showScenarioGroup}">
                                        <i class="flaticon-pie-chart-1"></i> 
                                        {{l(assumptionGroupEnum[assumptionGroupEnum.ScenarioInputs])}}
                                    </div>
                                </div>
                                <div id="collapseOne5" class="collapse" [ngClass]="{show: showScenarioGroup}">
                                    <div class="card-body">
                                        <!--begin:: Widgets/Stats2-1 -->
                                        <div class="kt-widget1" *ngFor="let item of scenarioAssumptionGroup">
                                            <div class="kt-widget1__item">
                                                <div class="kt-widget1__info">
                                                    <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                                                    <span class="kt-widget1__desc">{{item.inputName}}</span>
                                                </div>
                                                <span *ngIf="item.datatype !== dataTypeEnum.DoubleMoney || item.datatype !== dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoubleMoney" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Stats2-1 -->
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo5">
                                    <div class="card-title" (click)="showAbsolute = !showAbsolute" [ngClass]="{collapsed: !showAbsolute}">
                                        <i class="flaticon2-notification"></i> 
                                        {{l(assumptionGroupEnum[assumptionGroupEnum.AbsoluteCreditQuality])}}
                                    </div>
                                </div>
                                <div id="collapseTwo5" class="collapse" [ngClass]="{show: showAbsolute}">
                                    <div class="card-body">
                                        <!--begin:: Widgets/Stats2-1 -->
                                        <div class="kt-widget1" *ngFor="let item of absoluteCreditQualityAssumptionGroup">
                                            <div class="kt-widget1__item">
                                                <div class="kt-widget1__info">
                                                    <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                                                    <span class="kt-widget1__desc">{{item.inputName}}</span>
                                                </div>
                                                <span *ngIf="item.datatype !== dataTypeEnum.DoubleMoney || item.datatype !== dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoubleMoney" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Stats2-1 -->
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree5">
                                    <div class="card-title" (click)="showRelative = !showRelative" [ngClass]="{collapsed: !showRelative}">
                                        <i class="flaticon2-chart"></i> 
                                        {{l(assumptionGroupEnum[assumptionGroupEnum.RelativeCreditQuality])}}
                                    </div>
                                </div>
                                <div id="collapseThree5" class="collapse" [ngClass]="{show: showRelative}">
                                    <div class="card-body">
                                        <!--begin:: Widgets/Stats2-1 -->
                                        <div class="kt-widget1" *ngFor="let item of relativeCreditQualityAssumptionGroup">
                                            <div class="kt-widget1__item">
                                                <div class="kt-widget1__info">
                                                    <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                                                    <span class="kt-widget1__desc">{{item.inputName}}</span>
                                                </div>
                                                <span *ngIf="item.datatype !== dataTypeEnum.DoubleMoney || item.datatype !== dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoubleMoney" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Stats2-1 -->
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree5">
                                    <div class="card-title" (click)="showForward = !showForward" [ngClass]="{collapsed: !showForward}">
                                        <i class="flaticon2-chart"></i> 
                                        {{l(assumptionGroupEnum[assumptionGroupEnum.ForwardTransitions])}}
                                    </div>
                                </div>
                                <div id="collapseThree5" class="collapse" [ngClass]="{show: showForward}">
                                    <div class="card-body">
                                        <!--begin:: Widgets/Stats2-1 -->
                                        <div class="kt-widget1" *ngFor="let item of forwardTransitionsAssumptionGroup">
                                            <div class="kt-widget1__item">
                                                <div class="kt-widget1__info">
                                                    <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                                                    <span class="kt-widget1__desc">{{item.inputName}}</span>
                                                </div>
                                                <span *ngIf="item.datatype !== dataTypeEnum.DoubleMoney || item.datatype !== dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoubleMoney" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Stats2-1 -->
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree5">
                                    <div class="card-title" (click)="showBackWard = !showBackWard" [ngClass]="{collapsed: !showBackWard}">
                                        <i class="flaticon2-chart"></i> 
                                        {{l(assumptionGroupEnum[assumptionGroupEnum.BackwardTransitions])}}
                                    </div>
                                </div>
                                <div id="collapseThree5" class="collapse" [ngClass]="{show: showBackWard}">
                                    <div class="card-body">
                                        <!--begin:: Widgets/Stats2-1 -->
                                        <div class="kt-widget1" *ngFor="let item of backwardTransitionAssumptionGroup">
                                            <div class="kt-widget1__item">
                                                <div class="kt-widget1__info">
                                                    <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                                                    <span class="kt-widget1__desc">{{item.inputName}}</span>
                                                </div>
                                                <span *ngIf="item.datatype !== dataTypeEnum.DoubleMoney || item.datatype !== dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoubleMoney" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Stats2-1 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Accordion-->
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="kt-portlet ">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                {{l('EadAssumptions')}}
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
               
                        <!--begin::Accordion-->
                        <div class="accordion accordion-light  accordion-toggle-arrow" id="accordionExample5">
                            <div class="card">
                                <div class="card-header" id="headingOne5">
                                    <div class="card-title" (click)="showCcfGroup = !showCcfGroup" [ngClass]="{collapsed: !showCcfGroup}">
                                        <i class="flaticon-pie-chart-1"></i> 
                                        {{l(eadAssumptionGroupEnum[eadAssumptionGroupEnum.CreditConversionFactors])}}
                                    </div>
                                </div>
                                <div id="collapseOne5" class="collapse" [ngClass]="{show: showCcfGroup}">
                                    <div class="card-body">
                                        <!--begin:: Widgets/Stats2-1 -->
                                        <div class="kt-widget1" *ngFor="let item of ccfGroup">
                                            <div class="kt-widget1__item">
                                                <div class="kt-widget1__info">
                                                    <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                                                    <span class="kt-widget1__desc">{{item.inputName}}</span>
                                                </div>
                                                <span *ngIf="item.datatype !== dataTypeEnum.DoubleMoney || item.datatype !== dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoubleMoney" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Stats2-1 -->
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo5">
                                    <div class="card-title" (click)="showVirGroup = !showVirGroup" [ngClass]="{collapsed: !showVirGroup}">
                                        <i class="flaticon2-notification"></i> 
                                        {{l(eadAssumptionGroupEnum[eadAssumptionGroupEnum.VariableInterestRateProjections])}}
                                    </div>
                                </div>
                                <div id="collapseTwo5" class="collapse" [ngClass]="{show: showVirGroup}">
                                    <div class="card-body">
                                        <!--begin:: Widgets/Stats2-1 -->
                                        <div class="kt-widget1" *ngFor="let item of virGroup">
                                            <div class="kt-widget1__item">
                                                <div class="kt-widget1__info">
                                                    <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                                                    <span class="kt-widget1__desc">{{item.inputName}}</span>
                                                </div>
                                                <span *ngIf="item.datatype !== dataTypeEnum.DoubleMoney || item.datatype !== dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoubleMoney" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Stats2-1 -->
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree5">
                                    <div class="card-title" (click)="showExchangeRateGroup = !showExchangeRateGroup" [ngClass]="{collapsed: !showExchangeRateGroup}">
                                        <i class="flaticon2-chart"></i> 
                                        {{l(eadAssumptionGroupEnum[eadAssumptionGroupEnum.ExchangeRateProjections])}}
                                    </div>
                                </div>
                                <div id="collapseThree5" class="collapse" [ngClass]="{show: showExchangeRateGroup}">
                                    <div class="card-body">
                                        <!--begin:: Widgets/Stats2-1 -->
                                        <div class="kt-widget1" *ngFor="let item of exchangeRateGroup">
                                            <div class="kt-widget1__item">
                                                <div class="kt-widget1__info">
                                                    <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                                                    <span class="kt-widget1__desc">{{item.inputName}}</span>
                                                </div>
                                                <span *ngIf="item.datatype !== dataTypeEnum.DoubleMoney || item.datatype !== dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</span>
                                                <span *ngIf="item.datatype == dataTypeEnum.DoubleMoney" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Stats2-1 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Accordion-->
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="kt-portlet ">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                {{l('LgdAssumptions')}}
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
               
                        <!--begin::Accordion-->
                        <div class="accordion accordion-light  accordion-toggle-arrow" id="accordionExample5">
                            <div class="card">
                                <div class="card-header" id="headingOne5">
                                    <div class="card-title" (click)="showUnsecuredRecoveries = !showUnsecuredRecoveries" [ngClass]="{collapsed: !showUnsecuredRecoveries}">
                                        <i class="flaticon-pie-chart-1"></i> 
                                        {{l(lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.UnsecuredRecoveriesTimeInDefault])}}
                                    </div>
                                </div>
                                <div id="collapseOne5" class="collapse" [ngClass]="{show: showUnsecuredRecoveries}">
                                    <div class="card-body">
                                        <!--begin:: Widgets/Stats2-1 -->
                                        <div class="kt-widget1" *ngFor="let item of timeToDefaultGroup">
                                            <div class="kt-widget1__item">
                                                <div class="kt-widget1__info">
                                                    <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                                                    <span class="kt-widget1__desc">{{item.inputName}}</span>
                                                </div>
                                                <span *ngIf="item.dataType !== dataTypeEnum.DoubleMoney || item.dataType !== dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value}}</span>
                                                <span *ngIf="item.dataType == dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</span>
                                                <span *ngIf="item.dataType == dataTypeEnum.DoubleMoney" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Stats2-1 -->
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo5">
                                    <div class="card-title" (click)="showCorHigh = !showCorHigh" [ngClass]="{collapsed: !showCorHigh}">
                                        <i class="flaticon2-notification"></i> 
                                        {{l(lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CostOfRecoveryHigh])}}
                                    </div>
                                </div>
                                <div id="collapseTwo5" class="collapse" [ngClass]="{show: showCorHigh}">
                                    <div class="card-body">
                                        <!--begin:: Widgets/Stats2-1 -->
                                        <div class="kt-widget1" *ngFor="let item of corHighGroup">
                                            <div class="kt-widget1__item">
                                                <div class="kt-widget1__info">
                                                    <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                                                    <span class="kt-widget1__desc">{{item.inputName}}</span>
                                                </div>
                                                <span *ngIf="item.dataType !== dataTypeEnum.DoubleMoney || item.dataType !== dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value}}</span>
                                                <span *ngIf="item.dataType == dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</span>
                                                <span *ngIf="item.dataType == dataTypeEnum.DoubleMoney" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Stats2-1 -->
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree5">
                                    <div class="card-title" (click)="showCorLow = !showCorLow" [ngClass]="{collapsed: !showCorLow}">
                                        <i class="flaticon2-chart"></i> 
                                        {{l(lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CostOfRecoveryLow])}}
                                    </div>
                                </div>
                                <div id="collapseThree5" class="collapse" [ngClass]="{show: showCorLow}">
                                    <div class="card-body">
                                        <!--begin:: Widgets/Stats2-1 -->
                                        <div class="kt-widget1" *ngFor="let item of corLowGroup">
                                            <div class="kt-widget1__item">
                                                <div class="kt-widget1__info">
                                                    <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                                                    <span class="kt-widget1__desc">{{item.inputName}}</span>
                                                </div>
                                                <span *ngIf="item.dataType !== dataTypeEnum.DoubleMoney || item.dataType !== dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value}}</span>
                                                <span *ngIf="item.dataType == dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</span>
                                                <span *ngIf="item.dataType == dataTypeEnum.DoubleMoney" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Stats2-1 -->
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree5">
                                    <div class="card-title" (click)="showCollateralGrowth = !showCollateralGrowth" [ngClass]="{collapsed: !showCollateralGrowth}">
                                        <i class="flaticon2-chart"></i> 
                                        {{l(lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CollateralGrowthBest])}}
                                    </div>
                                </div>
                                <div id="collapseThree5" class="collapse" [ngClass]="{show: showCollateralGrowth}">
                                    <div class="card-body">
                                        <!--begin:: Widgets/Stats2-1 -->
                                        <div class="kt-widget1" *ngFor="let item of collateralGrowthGroup">
                                            <div class="kt-widget1__item">
                                                <div class="kt-widget1__info">
                                                    <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                                                    <span class="kt-widget1__desc">{{item.inputName}}</span>
                                                </div>
                                                <span *ngIf="item.dataType !== dataTypeEnum.DoubleMoney || item.dataType !== dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value}}</span>
                                                <span *ngIf="item.dataType == dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</span>
                                                <span *ngIf="item.dataType == dataTypeEnum.DoubleMoney" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Stats2-1 -->
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree5">
                                    <div class="card-title" (click)="showTTR = !showTTR" [ngClass]="{collapsed: !showTTR}">
                                        <i class="flaticon2-chart"></i> 
                                        {{l(lgdAssumptionGroupEnum[lgdAssumptionGroupEnum.CollateralTTR])}}
                                    </div>
                                </div>
                                <div id="collapseThree5" class="collapse" [ngClass]="{show: showTTR}">
                                    <div class="card-body">
                                        <!--begin:: Widgets/Stats2-1 -->
                                        <div class="kt-widget1" *ngFor="let item of collateralTTRGroup">
                                            <div class="kt-widget1__item">
                                                <div class="kt-widget1__info">
                                                    <!-- <h3 class="kt-widget1__title">{{l(assumptionGroupEnum[item.assumptionGroup])}}</h3> -->
                                                    <span class="kt-widget1__desc">{{item.inputName}}</span>
                                                </div>
                                                <span *ngIf="item.dataType !== dataTypeEnum.DoubleMoney || item.dataType !== dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value}}</span>
                                                <span *ngIf="item.dataType == dataTypeEnum.DoublePercentage" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | percent:'1.2-2'}}</span>
                                                <span *ngIf="item.dataType == dataTypeEnum.DoubleMoney" 
                                                      class="kt-widget1__number kt-font-brand">{{item.value | number:'1.0-0'}}</span>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Stats2-1 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Accordion-->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <app-approve-ecl-modal #aproveEclModal (eclApproved)="getEclDetails()"></app-approve-ecl-modal>
</div>