<div [@routerTransition]>



    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span *ngIf="active && holdCoRegister.id">{{"EditHoldCoRegister" }}</span>
                <span *ngIf="active && !holdCoRegister.id">{{l("CreateHoldCoRegister")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-subheader__breadcrumbs">
                <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--rounded
                            kt-badge--{{ getStatusLabelClass(holdCoRegister.status) }}">
                    {{l(statusEnum[holdCoRegister.status])}}
                </span>
            </div>
        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">

                <button (click)="approve()" class="btn btn-primary"
                    *ngIf="(holdCoRegister.status == statusEnum.Submitted || holdCoRegister.status == statusEnum.AppliedOverride || holdCoRegister.status == statusEnum.AwaitngAdditionApproval) && isGranted('Pages.HoldCoRegisters.Approve')">
                    <i class="fa fa-check-double" style="font-size: 1.2rem !important;"></i>
                    {{l("Approve")}}
                </button>

                <button (click)="goBack()" class="btn btn-outline-danger">
                    <i class="fa fa-reply" style="font-size: 1.2rem !important;"></i>
                    {{l("GoBack")}}
                </button>

            </div>
        </div>

    </div>


    <div class="kt-content">


        <div class="kt-portlet kt-portlet--height-fluid" *ngIf="holdCoRegister.status == statusEnum.Completed">
            <div class="kt-portlet__head ">
                <div class="kt-portlet__head-label hoverable" (click)="showResultCard = !showResultCard;">
                    <h3 class="kt-portlet__head-title">
                        {{l('Results')}}
                    </h3>
                </div>

                <div class="kt-portlet__head-toolbar">
                    <button *ngIf="holdCoInterCompanyResults.length > 0" (click)="exportResultToExcel()" class="btn btn-outline-primary mr-2">
                        <i class="fa fa-file-excel" style="font-size: 1.2rem !important;"></i>
                        {{l("DownloadFullData")}}
                    </button>

                </div>

            </div>



            <div [hidden]="!showResultCard" class="kt-portlet__body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('AssetType')}}</th>
                                <th>{{l('AssetDescription')}}</th>
                                <th>{{l('Stage')}}</th>
                                <th>{{l('OutstandingBalanceLCY')}}</th>
                                <th>{{l('BestEstimate')}}</th>
                                <th>{{l('Optimistic')}}</th>
                                <th>{{l('Downturn')}}</th>
                                <th>{{l('Impairment')}}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of holdCoInterCompanyResults">
                                <td class="align-middle">{{ item.assetType }}</td>
                                <td class="align-middle">{{ item.assetDescription }}</td>
                                <td class="align-middle">{{ item.stage }}</td>
                                <td class="align-middle">{{ item.outstandingBalance }}</td>
                                <td class="align-middle">{{ item.bestEstimate }}</td>
                                <td class="align-middle">{{ item.optimistic }}</td>
                                <td class="align-middle">{{ item.downturn }}</td>
                                <td class="align-middle">{{ item.impairment }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="kt-portlet kt-portlet--height-fluid" *ngIf="holdCoRegister.status == statusEnum.Completed">
            <div class="kt-portlet__head ">
                <div class="kt-portlet__head-label hoverable" (click)="showResultSummaryCard = !showResultSummaryCard;">
                    <h3 class="kt-portlet__head-title">
                        {{l('ResultSummary')}}
                    </h3>
                </div>

                <div class="kt-portlet__head-toolbar">
                    <button *ngIf="holdCoInterCompanyResults.length > 0" (click)="exportResultSummaryToExcel()" class="btn btn-outline-primary mr-2">
                        <i class="fa fa-file-excel" style="font-size: 1.2rem !important;"></i>
                        {{l("DownloadFullData")}}
                    </button>

                </div>

            </div>



            <div [hidden]="!showResultSummaryCard" class="kt-portlet__body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('BestEstimateExposure')}}</th>
                                <th>{{l('OptimisticExposure')}}</th>
                                <th>{{l('DownturnExposure')}}</th>
                                <th>{{l('BestEstimateTotal')}}</th>
                                <th>{{l('OptimisticTotal')}}</th>
                                <th>{{l('DownturnTotal')}}</th>
                                <th>{{l('BestEstimateImpairmentRatio')}}</th>
                                <th>{{l('OptimisticImpairmentRatio')}}</th>
                                <th>{{l('DownturnImpairmentRatio')}}</th>
                                <th>{{l('Exposure')}}</th>
                                <th>{{l('Total')}}</th>
                                <th>{{l('ImpairmentRatio')}}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of holdCoResultSummaries">
                                <td class="align-middle">{{ item.bestEstimateExposure }}</td>
                                <td class="align-middle">{{ item.optimisticExposure }}</td>
                                <td class="align-middle">{{ item.downturnExposure }}</td>
                                <td class="align-middle">{{ item.bestEstimateTotal }}</td>
                                <td class="align-middle">{{ item.optimisticTotal }}</td>
                                <td class="align-middle">{{ item.downturnTotal }}</td>
                                <td class="align-middle">{{ item.bestEstimateImpairmentRatio }}</td>
                                <td class="align-middle">{{ item.optimisticImpairmentRatio }}</td>
                                <td class="align-middle">{{ item.downturnImpairmentRatio }}</td>
                                <td class="align-middle">{{ item.exposure }}</td>
                                <td class="align-middle">{{ item.total }}</td>
                                <td class="align-middle">{{ item.impairmentRatio }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>



        <div class="kt-portlet kt-portlet--height-fluid" *ngIf="holdCoRegister.status == statusEnum.Completed">
            <div class="kt-portlet__head ">
                <div class="kt-portlet__head-label hoverable" (click)="showResultSummaryByStageCard = !showResultSummaryByStageCard;">
                    <h3 class="kt-portlet__head-title">
                        {{l('ResultSummaryByStage')}}
                    </h3>
                </div>

                <div class="kt-portlet__head-toolbar">
                    <button *ngIf="holdCoInterCompanyResults.length > 0" (click)="exportResultSummaryByStageToExcel()" class="btn btn-outline-primary mr-2">
                        <i class="fa fa-file-excel" style="font-size: 1.2rem !important;"></i>
                        {{l("DownloadFullData")}}
                    </button>

                </div>

            </div>



            <div [hidden]="!showResultSummaryByStageCard" class="kt-portlet__body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('StageOneExposure')}}</th>
                                <th>{{l('StageTwoExposure')}}</th>
                                <th>{{l('StageThreeExposure')}}</th>
                                <th>{{l('TotalExposure')}}</th>
                                <th>{{l('StageOneImpairment')}}</th>
                                <th>{{l('StageTwoImpairment')}}</th>
                                <th>{{l('StageThreeImpairment')}}</th>
                                <th>{{l('StageOneImpairmentRatio')}}</th>
                                <th>{{l('StageTwoImpairmentRatio')}}</th>
                                <th>{{l('TotalImpairment')}}</th>
                                <th>{{l('StageThreeImpairmentRatio')}}</th>
                                <th>{{l('TotalImpairmentRatio')}}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of holdCoResultSummariesByStage">
                                <td class="align-middle">{{ item.stageOneExposure }}</td>
                                <td class="align-middle">{{ item.stageTwoExposure }}</td>
                                <td class="align-middle">{{ item.stageThreeExposure }}</td>
                                <td class="align-middle">{{ item.totalExposure }}</td>
                                <td class="align-middle">{{ item.stageOneImpairment }}</td>
                                <td class="align-middle">{{ item.stageTwoImpairment }}</td>
                                <td class="align-middle">{{ item.stageThreeImpairment }}</td>
                                <td class="align-middle">{{ item.stageOneImpairmentRatio }}</td>
                                <td class="align-middle">{{ item.stageTwoImpairmentRatio }}</td>
                                <td class="align-middle">{{ item.totalImpairment }}</td>
                                <td class="align-middle">{{ item.stageThreeImpairmentRatio }}</td>
                                <td class="align-middle">{{ item.totalImpairmentRatio }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head ">
                <div class="kt-portlet__head-label hoverable" (click)="showIntercompanyCard = !showIntercompanyCard;">
                    <h3 class="kt-portlet__head-title">
                        ETI Intercompany Loans Model
                    </h3>
                </div>
            </div>



            <div [hidden]="!showIntercompanyCard" class="kt-portlet__body">




                <div class="form-row">
                    <div class="form-group  col-6">
                        <label for="valuationDate">{{l("ValuationDate")}}</label>
                        <input id="valuationDate" class="form-control col-lg-6"
                            [(ngModel)]="inputParameter.valuationDate" readonly disabled name="valuationDate" type="datetime"
                            bsDatepicker />

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-3">
                        <label for="optimistic">{{l("Optimistic")}}(%)</label>

                        <input type="number" step="0.1" readonly id="optimistic" class="form-control" [(ngModel)]="inputParameter.optimistic"
                            name="optimistic" />
                    </div>

                    <div class="form-group col-3">
                        <label for="bestEstimate">{{l("BestEstimate")}}(%)</label>
                        <input type="number" step="0.1" readonly id="bestEstimate" class="form-control"
                            [(ngModel)]="inputParameter.bestEstimate" name="bestEstimate" />

                    </div>

                    <div class="form-group col-3">
                        <label for="downturn">{{l("Downturn")}}(%)</label>
                        <input type="number" step="0.1" readonly id="downturn" class="form-control" [(ngModel)]="inputParameter.downturn"
                            name="downturn" />

                    </div>

                    <div class="form-group col-3">
                        <label for="recoveryRate">{{l("RecoveryRate")}}(%)</label>
                        <input type="number" step="0.1" readonly id="recoveryRate" class="form-control" [(ngModel)]="inputParameter.recoveryRate"
                            name="recoveryRate" />

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="assumedRating">{{l("AssumedRatingForUnratedAssets")}}</label>

                        <input type="text" id="assumedRating" class="form-control"
                            [(ngModel)]="inputParameter.assumedRating" readonly name="assumedRating" />
                    </div>

                    <div class="form-group col-6">
                        <label for="defaultLoanRating">{{l("RatingForDefaultedLoans")}}</label>
                        <input type="text" id="defaultLoanRating" class="form-control"
                            [(ngModel)]="inputParameter.defaultLoanRating" readonly name="defaultLoanRating" />

                    </div>


                </div>

                <div class="form-row">
                    <div class="form-group  col-6">
                        <label for="assumedStartDate">{{l("AssumedStartDate")}}</label>
                        <input id="assumedStartDate" class="form-control" [(ngModel)]="inputParameter.assumedStartDate"
                            name="assumedStartDate" type="datetime" readonly disabled bsDatepicker />

                    </div>

                    <div class="form-group col-6">
                        <label for="assumedMaturityDate">{{l("AssumedMaturityDate")}}</label>
                        <input type="datetime" bsDatepicker id="assumedMaturityDate" class="form-control"
                            [(ngModel)]="inputParameter.assumedMaturityDate" readonly disabled name="assumedMaturityDate" />

                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head ">
                <div class="kt-portlet__head-label hoverable" (click)="showMacroCard = !showMacroCard;">
                    <h3 class="kt-portlet__head-title">
                        {{l('MacroEconomicCreditIndex')}}
                    </h3>
                </div>

                <div class="kt-portlet__head-toolbar">
                    <button *ngIf="macroEconomicCreditIndex.length > 0" (click)="exportMacroToExcel()" class="btn btn-outline-primary mr-2">
                        <i class="fa fa-file-excel" style="font-size: 1.2rem !important;"></i>
                        {{l("DownloadFullData")}}
                    </button>

                </div>

            </div>



            <div [hidden]="!showMacroCard" class="kt-portlet__body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('Scenario/Month')}}</th>
                                <th>{{l('BestEstimate')}}</th>
                                <th>{{l('Optimistic')}}</th>
                                <th>{{l('Downturn')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of macroEconomicCreditIndex">
                                <td class="align-middle">{{ item.month }}</td>
                                <td class="align-middle">{{ item.bestEstimate }}</td>
                                <td class="align-middle">{{ item.optimistic }}</td>
                                <td class="align-middle">{{ item.downturn }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head ">
                <div class="kt-portlet__head-label hoverable" (click)="showAssetCard = !showAssetCard;">
                    <h3 class="kt-portlet__head-title">
                        {{l('AssetBook')}}
                    </h3>
                </div>

                <div class="kt-portlet__head-toolbar">
                    <button *ngIf="assetBook.length > 0" (click)="exportAssetBookToExcel()" class="btn btn-outline-primary mr-2">
                        <i class="fa fa-file-excel" style="font-size: 1.2rem !important;"></i>
                        {{l("DownloadFullData")}}
                    </button>
                </div>

            </div>

            <div [hidden]="!showAssetCard" class="kt-portlet__body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('Entity')}}</th>
                                <th>{{l('AssetDescription')}}</th>
                                <th>{{l('AssetType')}}</th>
                                <th>{{l('RatingAgency')}}</th>
                                <th>{{l('CreditRatingAtPurchaseDate')}}</th>
                                <th>{{l('CurrentCreditRating')}}</th>
                                <th>{{l('NominalAccountACY')}}</th>
                                <th>{{l('NominalAccountLCY')}}</th>
                                <th>{{l('PrincipalAmortisation')}}</th>
                                <th>{{l('PrincipalRepaymentTerms')}}</th>
                                <th>{{l('InterestRepaymentTerms')}}</th>
                                <th>{{l('OutstandingBalanceACY')}}</th>
                                <th>{{l('OutstandingBalanceLCY')}}</th>
                                <th>{{l('Coupon')}}</th>
                                <th>{{l('EIR')}}</th>
                                <th>{{l('LoanOriginationDate')}}</th>
                                <th>{{l('LoanMaturityDate')}}</th>
                                <th>{{l('DaysPastDue')}}</th>
                                <th>{{l('PrudentialClassification')}}</th>
                                <th>{{l('ForebearanceFlag')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of assetBook">
                                <td class="align-middle">{{ item.entity }}</td>
                                <td class="align-middle">{{ item.assetDescription }}</td>
                                <td class="align-middle">{{ item.assetType }}</td>
                                <td class="align-middle">{{ item.ratingAgency }}</td>

                                <td class="align-middle">{{ item.purchaseDateCreditRating }}</td>
                                <td class="align-middle">{{ item.currentCreditRating }}</td>
                                <td class="align-middle">{{ item.nominalAmountACY }}</td>
                                <td class="align-middle">{{ item.nominalAmountLCY }}</td>
                                <td class="align-middle">{{ item.principalAmortisation }}</td>
                                <td class="align-middle">{{ item.principalRepaymentTerms }}</td>
                                <td class="align-middle">{{ item.interestRepaymentTerms }}</td>
                                <td class="align-middle">{{ item.outstandingBalanceACY }}</td>
                                <td class="align-middle">{{ item.outstandingBalanceLCY }}</td>
                                <td class="align-middle">{{ item.coupon }}</td>
                                <td class="align-middle">{{ item.eir }}</td>
                                <td class="align-middle">{{ item.loanOriginationDate }}</td>
                                <td class="align-middle">{{ item.loanMaturityDate }}</td>

                                <td class="align-middle">{{ item.daysPastDue }}</td>
                                <td class="align-middle">{{ item.prudentialClassification }}</td>
                                <td class="align-middle">{{ item.forebearanceFlag }}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        {{l('AuditInfo')}}
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>{{l('DateCreated')}}:</td>
                            <td><span class="kt-font-bold">{{auditInfo.dateCreated | momentFormat: 'lll'}}</span></td>
                            <td>{{l('LastUpdated')}}: </td>
                            <td><span class="kt-font-bold">{{auditInfo.lastUpdated | momentFormat: 'lll'}}</span></td>
                        </tr>
                        <tr>
                            <td>{{l('By')}}:</td>
                            <td><span class="kt-font-bold">{{auditInfo.createdBy}}</span></td>
                            <td>{{l('By')}}: </td>
                            <td><span class="kt-font-bold">{{auditInfo.updatedBy}}</span></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div class="kt-divider">
                    <span></span>
                    <span>Reviews</span>
                    <span></span>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>{{l('Date')}}</td>
                            <td>{{l('By')}}</td>
                            <td>{{l('Status')}}</td>
                            <td>{{l('Comment')}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of auditInfo.approvals;">
                            <td>{{item.reviewedDate | momentFormat: 'lll'}}</td>
                            <td>{{item.reviewedBy}}</td>
                            <td>
                                <span *ngIf="item.status === calibrationStatusEnum.Approved" class="kt-badge kt-badge--bolder kt-badge kt-badge--inline
                                                kt-badge--unified-success">
                                                {{l(calibrationStatusEnum[item.status])}}
                                </span>
                                <span *ngIf="item.status === calibrationStatusEnum.Rejected" class="kt-badge kt-badge--bolder kt-badge kt-badge--inline
                                                kt-badge--unified-danger">
                                                {{l(calibrationStatusEnum[item.status])}}
                                </span>
                                <span *ngIf="item.status === calibrationStatusEnum.Submitted" class="kt-badge kt-badge--bolder kt-badge kt-badge--inline
                                                kt-badge--unified-warning">
                                                {{l(calibrationStatusEnum[item.status])}}
                                </span>

                            </td>
                            <td>{{item.reviewComment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <app-approve-ivmodel-modal #approvalModal (approved)="reloadPage()" [holdCoRegister]="holdCoRegister"></app-approve-ivmodel-modal>

</div>
