<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #wholesaleEclPdSnPCummulativeDefaultRatesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="wholesaleEclPdSnPCummulativeDefaultRates.id">{{l("EditWholesaleEclPdSnPCummulativeDefaultRates")}}</span>
                        <span *ngIf="!wholesaleEclPdSnPCummulativeDefaultRates.id">{{l("CreateNewWholesaleEclPdSnPCummulativeDefaultRates")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="WholesaleEclTenantId">{{l("WholesaleEcl")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="WholesaleEclTenantId" name="wholesaleEclTenantId" [(ngModel)]="wholesaleEclTenantId" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectWholesaleEclModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setWholesaleEclIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="wholesaleEclPdSnPCummulativeDefaultRates.wholesaleEclId" [(ngModel)]="wholesaleEclPdSnPCummulativeDefaultRates.wholesaleEclId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="WholesaleEclPdSnPCummulativeDefaultRates_Key">{{l("Key")}}</label>
									<input type="text" id="WholesaleEclPdSnPCummulativeDefaultRates_Key" class="form-control" [(ngModel)]="wholesaleEclPdSnPCummulativeDefaultRates.key" name="Key"    />
								</div>
					
								<div class="form-group">
									<label for="WholesaleEclPdSnPCummulativeDefaultRates_Rating">{{l("Rating")}}</label>
									<input type="text" id="WholesaleEclPdSnPCummulativeDefaultRates_Rating" class="form-control" [(ngModel)]="wholesaleEclPdSnPCummulativeDefaultRates.rating" name="Rating"    />
								</div>
					
								<div class="form-group">
									<label for="WholesaleEclPdSnPCummulativeDefaultRates_Years">{{l("Years")}}</label>
									<input type="number" id="WholesaleEclPdSnPCummulativeDefaultRates_Years" class="form-control" [(ngModel)]="wholesaleEclPdSnPCummulativeDefaultRates.years" name="Years"  />
								</div>
					
								<div class="form-group">
									<label for="WholesaleEclPdSnPCummulativeDefaultRates_Value">{{l("Value")}}</label>
									<input type="number" id="WholesaleEclPdSnPCummulativeDefaultRates_Value" class="form-control" [(ngModel)]="wholesaleEclPdSnPCummulativeDefaultRates.value" name="Value"  />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!wholesaleEclPdSnPCummulativeDefaultRatesForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<wholesaleEclPdSnPCummulativeDefaultRatesWholesaleEclLookupTableModal #wholesaleEclPdSnPCummulativeDefaultRatesWholesaleEclLookupTableModal (modalSave)="getNewWholesaleEclId()"></wholesaleEclPdSnPCummulativeDefaultRatesWholesaleEclLookupTableModal>
		 
</div>