<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("AffiliateAssumption")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                <span>{{l("AffiliateAssumptionHeaderInfo")}}</span>
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="goBack()" class="btn btn-outline-danger">
                    <i class="fa fa-reply" style="font-size: 1.2rem !important;"></i>
                    {{l("GoBack")}}
                </button>
            </div>
        </div>
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">

                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div *ngIf="_affiliateId === -1" class="col-xl-2 col-sm-6">
                                <div class="form-group m-form__group align-items-center">
                                    <select class="form-control" name="IsApprovedFilter" id="IsApprovedFilterSelect"
                                        [(ngModel)]="filterText">
                                        <option value="">{{l("SelectOU")}}</option>
                                        <option *ngFor="let item of ouList" [value]="item.name">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-10">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getAffiliates()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getAffiliates($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th  style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Assumption.Affiliates', 'Pages.Assumption.Affiliates')">
                                        {{l('Actions')}}
                                    </th>
                                    <th style="width: 150px" pSortableColumn="affiliateName">
                                        {{l('Affiliate')}}
                                        <p-sortIcon field="affiliateName"></p-sortIcon>
                                    </th>
                                    <th  style="width: 150px" pSortableColumn="lastAssumptionUpdate">
                                        {{l('LastUpdated')}}
                                        <p-sortIcon field="lastAssumptionUpdate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="lastWholesaleReportingDate">
                                        {{l('Wholesale')}}
                                        <p-sortIcon field="lastWholesaleReportingDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="lastRetailReportingDate">
                                        {{l('Retail')}}
                                        <p-sortIcon field="lastRetailReportingDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="lastObeReportingDate">
                                        {{l('OBE')}}
                                        <p-sortIcon field="lastObeReportingDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="lastSecuritiesReportingDate">
                                        {{l('Investments')}}
                                        <p-sortIcon field="lastSecuritiesReportingDate"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Assumption.Affiliates', 'Pages.Assumption.Affiliates')">
                                        <div class="btn-group m-btn-group m-btn-group--pill" dropdown container="body">
                                            <button type="button" class="btn btn-primary btn-sm"
                                            (click)="navigateToViewAssumptions(record.organizationUnitId)">
                                                <i class="fa fa-info-circle"></i> View
                                            </button>
                                            <button class="dropdown-toggle btn btn-sm btn-primary dropdown-toggle-split" dropdownToggle>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li *ngIf="isGranted('Pages.Assumption.Affiliates.Review')">
                                                    <a href="javascript:;" (click)="navigateToApproveAssumptions(record.organizationUnitId)">
                                                        {{l('Review')}}
                                                    </a>
                                                </li>
                                                <li *ngIf="isGranted('Pages.Assumption.Affiliates.Copy')">
                                                    <a href="javascript:;" (click)="selectAffiliateToCopyTo(record.organizationUnitId, record.affiliateName)">
                                                        {{l('CopyTo')}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('InputName')}}</span>
                                        <i *ngIf="record.requiresAttention"
                                            class="fa fa-info-circle kt-font-danger animated infinite flash slower" title="{{l('HasNotBeenUpdatedIn30Days')}}"></i>
                                        <i *ngIf="record.hasSubmittedAssumptions"
                                            class="fa fa-info-circle kt-font-warning animated infinite flash slower" title="{{l('HasSubmittedAssumptions')}}"></i>
                                        {{record.affiliateName}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('LastAssumptionUpdate')}}</span>
                                        {{record.lastAssumptionUpdate | momentFormat: 'll'}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('WholesaleLastReportDate')}}</span>
                                        {{record.lastWholesaleReportingDate | momentFormat: 'll'}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('RetailLastReportDate')}}</span>
                                        {{record.lastRetailReportingDate | momentFormat: 'll'}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('ObeLastReportDate')}}</span>
                                        {{record.lastObeReportingDate | momentFormat: 'll'}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Investment')}}</span>
                                        {{record.lastSecuritiesReportingDate | momentFormat: 'll'}}
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getAffiliates($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
        
    <ouLookupTableModal #ouLookupTableModal (modalSave)="copyTo()"></ouLookupTableModal>
    </div>
</div>