<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("RetailECLs")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("NewEcl")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button *ngIf="wizardCurrentStep > 1" (click)="goBack()" class="btn btn-outline-primary">
                    <i class="fa fa-backward" style="font-size: 1.2rem !important;"></i>
                    {{l("Previous")}}
                </button>
                <button *ngIf="wizardCurrentStep < wizardLastStep" (click)="goNext()" class="btn btn-primary">
                    {{l("Next")}} &nbsp;
                    <i class="fa fa-forward" style="font-size: 1.2rem !important;"></i>
                </button>
                <button *ngIf="wizardCurrentStep == wizardLastStep" (click)="finish()" class="btn btn-success">
                    <i class="fa fa-save" style="font-size: 1.2rem !important;"></i>
                    {{l("Submit")}}
                </button>
            </div>
        </div>

    </div>
    <div class="kt-content">
        <div class="stepwizard col-md-8 offset-md-2">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="javascript:void(0);"
                        class="btn btn-{{wizardCurrentStep == 1 ? 'primary' : wizardStep1Completed == 1 ? 'success' : wizardStep1Completed == 2 ? 'danger' : 'light' }} btn-circle">1</a>
                    <p>&nbsp;</p>
                </div>
                <div class="stepwizard-step">
                    <a href="javascript:void(0);"
                        class="btn btn-{{wizardCurrentStep == 2 ? 'primary' : wizardStep2Completed == 1 ? 'success' : wizardStep2Completed == 2 ? 'danger' : 'light' }} btn-circle">2</a>
                    <p>&nbsp;</p>
                </div>
                <div class="stepwizard-step">
                    <a href="javascript:void(0);"
                        class="btn btn-{{wizardCurrentStep == 3 ? 'primary' : wizardStep3Completed == 1 ? 'success' : wizardStep3Completed == 2 ? 'danger' : 'light' }} btn-circle">3</a>
                    <p>&nbsp;</p>
                </div>
                <div class="stepwizard-step">
                    <a href="javascript:void(0);"
                        class="btn btn-{{wizardCurrentStep == 4 ? 'primary' : wizardStep4Completed == 1 ? 'success' : wizardStep4Completed == 2 ? 'danger' : 'light' }} btn-circle">4</a>
                    <p>&nbsp;</p>
                </div>
                <div class="stepwizard-step">
                    <a href="javascript:void(0);"
                        class="btn btn-{{wizardCurrentStep == 5 ? 'primary' : 'light'}} btn-circle">5</a>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>

        <form role="form" action="" method="post">
            <div *ngIf="wizardCurrentStep === 1" class="row setup-content" id="step-1">
                <div class="col-sm-8 offset-md-2">
                    <div class="col-md-12 wizard-content p-3">
                        <h3 class="mb-5">1. Portfolio Assumptions</h3>
                        <div class="form-group">
                            <label for="retailECL_ReportingDate">{{l("ReportingDate")}}</label>
                            <input required class="form-control m-input col-md-4" type="datetime" bsDatepicker
                                [(ngModel)]="retailECL.reportingDate._d" id="retailECL_ReportingDate"
                                name="retailECL_ReportingDate">
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" *ngFor="let item of frameworkAssumptions">
                                <label class="control-label">{{item.inputName}}</label>
                                <input maxlength="200" type="text" required="required" class="form-control"
                                    name="{{item.key}}" id="{{item.key}}" value="{{item.value}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary btn-elevate btn-pill pull-right" type="button"
                                    (click)="goNext()">
                                    Next
                                    <i class="fa fa-forward" style="font-size: 1rem;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="wizardCurrentStep === 2" class="row setup-content" id="step-2">
                <div class="col-md-8 offset-md-2">
                    <div class="col-md-12 wizard-content p-3">
                        <h3 class="mb-5">2. EAD Input Assumptions</h3>
                        <!-- <p><b>Quantitative Criteria</b></p>
                      <p><b>Absolute Credit Quality</b></p> -->

                        <div class="row">
                            <div class="form-group col-md-6" *ngFor="let item of eadInputAssumptions">
                                <label class="control-label">{{item.inputName}}</label>
                                <input maxlength="200" type="text" required="required" class="form-control"
                                    name="{{item.key}}" id="{{item.key}}" value="{{item.value}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-outline-primary btn-elevate btn-pill pull-left" type="button"
                                    (click)="goBack()">
                                    <i class="fa fa-backward" style="font-size: 1rem;"></i>
                                    Previous
                                </button>
                                <button class="btn btn-primary btn-elevate btn-pill pull-right" type="button"
                                    (click)="goNext()">
                                    Next
                                    <i class="fa fa-forward" style="font-size: 1rem;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="wizardCurrentStep === 3" class="row setup-content" id="step-3">
                <div class="col-md-8 offset-md-2">
                    <div class="col-md-12 wizard-content p-3">
                        <h3 class="mb-5">3. LGD Assumptions</h3>
                        <!-- <p><b>EAD Assumptions</b></p> -->
                        <div class="row">
                            <div class="form-group col-md-6" *ngFor="let item of lgdInputAssumptions">
                                <label class="control-label">{{item.inputName}}</label>
                                <input maxlength="200" type="text" required="required" class="form-control" name="{{item.key}}" id="{{item.key}}"
                                    value="{{item.value}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-outline-primary btn-elevate btn-pill pull-left" type="button"
                                    (click)="goBack()">
                                    <i class="fa fa-backward" style="font-size: 1rem;"></i>
                                    Previous
                                </button>
                                <button class="btn btn-primary btn-elevate btn-pill pull-right" type="button"
                                    (click)="goNext()">
                                    Next
                                    <i class="fa fa-forward" style="font-size: 1rem;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="wizardCurrentStep === 4" class="row setup-content" id="step-4">
                <div class="col-md-8 offset-md-2">
                    <div class="col-md-12 wizard-content p-3">
                        <h3 class="mb-5">4. Upload Data</h3>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Loan Book</label><br>
                                <p-fileUpload mode="basic" id="LoanbookFileInput"
                                    name="loanbookFiles[]" [url]="uploadUrl" maxFileSize="1000000"
                                    (onUpload)="onUploadLoanbook($event)" (onBeforeSend)="onBeforeSend($event)" [auto]="true"
                                    chooseLabel="Browse" accept=".xls,.xlsx">
                                    <!-- <ng-template pTemplate="content">
                                        <ul *ngIf="uploadedLoanbookFiles.length">
                                            <li *ngFor="let file of uploadedLoanbookFiles">{{file.name}} - {{file.size}} bytes</li>
                                        </ul>
                                    </ng-template> -->
                                </p-fileUpload><br>
                                <span *ngIf="uploadedLoanbookFiles.length > 0" class="text-success"><i class="fa fa-check-circle"></i> Successfully uploaded!</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Payment schedule</label><br>
                                <p-fileUpload mode="basic" id="PaymentScheduleFileInput"
                                    name="paymentScheduleFiles[]" [url]="uploadUrl" maxFileSize="1000000"
                                    (onUpload)="onUploadPaymentSchedule($event)" (onBeforeSend)="onBeforeSend($event)" [auto]="true"
                                    chooseLabel="Browse" accept=".xls,.xlsx">
                                    <!-- <ng-template pTemplate="content">
                                        <ul *ngIf="uploadedPaymentScheduleFiles.length">
                                            <li *ngFor="let file of uploadedPaymentScheduleFiles">{{file.name}} - {{file.size}} bytes</li>
                                        </ul>
                                    </ng-template> -->
                                </p-fileUpload><br>
                                <span *ngIf="uploadedPaymentScheduleFiles.length > 0" class="text-success"><i class="fa fa-check-circle"></i> Successfully uploaded!</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-outline-primary btn-elevate btn-pill pull-left" type="button"
                                    (click)="goBack()">
                                    <i class="fa fa-backward" style="font-size: 1rem;"></i>
                                    Previous
                                </button>
                                <button class="btn btn-primary btn-elevate btn-pill pull-right" type="button"
                                    (click)="goNext()">
                                    Next
                                    <i class="fa fa-forward" style="font-size: 1rem;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="wizardCurrentStep === 5" class="row setup-content" id="step-5">
                <div class="col-md-8 offset-md-2">
                    <div class="col-md-12 wizard-content p-3">
                        <h3 class="mb-5">5. Finish</h3>
                        <p>Submit for approval?</p><br>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-outline-primary btn-elevate btn-pill pull-left" type="button"
                                    (click)="goBack()">
                                    <i class="fa fa-backward" style="font-size: 1rem;"></i>
                                    Previous
                                </button>
                                <button class="btn btn-success btn-elevate btn-pill pull-right" type="button"
                                    (click)="finish()">
                                    <i class="fa fa-save" style="font-size: 1rem;"></i>
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>