<div>
<!--begin::Accordion-->
<div *ngIf="displayForm" class="accordion accordion-light  accordion-toggle-arrow" id="accordionExample5">
    <!-- Credit Conversion Factor -->
    <div class="card">
        <div class="card-header" id="heading1">
            <div class="card-title" (click)="toggleAccordion(0)"
                [ngClass]="{collapsed: !accordionList[0].isActive}">
                <i class="flaticon-pie-chart-1"></i>
                {{l(accordionList[0].key)}}
            </div>
        </div>
        <div id="collapse1" class="collapse" [ngClass]="{show: accordionList[0].isActive}">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('Category')}}</th>
                                <th>{{l('Value')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ccfGroup">
                                <td>{{item.inputName}}</td>
                                <td>
                                    <span class="hoverable pull-right" 
                                        (click)="editAssumption(item, eadAssumptionGroupEnum[eadAssumptionGroupEnum.CreditConversionFactors])">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <span class="kt-widget1__number kt-font-brand">
                                        <span>{{item.value | percent:'1.2-2'}}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- VIR -->
    <div class="card">
        <div class="card-header" id="heading2">
            <div class="card-title" (click)="toggleAccordion(1)"
                [ngClass]="{collapsed: !accordionList[1].isActive}">
                <i class="flaticon-pie-chart-1"></i>
                {{l(accordionList[1].key)}}
            </div>
        </div>
        <div id="collapse2" class="collapse" [ngClass]="{show: accordionList[1].isActive}">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('VIRName')}}</th>
                                <th>{{l('Value')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of virGroup">
                                <td>{{item.inputName}}</td>
                                <td>
                                    <span class="hoverable pull-right" 
                                        (click)="editAssumption(item, eadAssumptionGroupEnum[eadAssumptionGroupEnum.VariableInterestRateProjections])">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <span class="kt-widget1__number kt-font-brand">
                                        <span>{{item.value | percent:'1.2-2'}}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Exchange Rate -->
    <div class="card">
        <div class="card-header" id="heading3">
            <div class="card-title" (click)="toggleAccordion(2)"
                [ngClass]="{collapsed: !accordionList[2].isActive}">
                <i class="flaticon-pie-chart-1"></i>
                {{l(accordionList[2].key)}}
            </div>
        </div>
        <div id="collapse3" class="collapse" [ngClass]="{show: accordionList[2].isActive}">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('Currency')}}</th>
                                <th>{{l('Rate')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of exchangeRateGroup">
                                <td>{{item.inputName}}</td>
                                <td>
                                    <span class="hoverable pull-right" 
                                        (click)="editAssumption(item, eadAssumptionGroupEnum[eadAssumptionGroupEnum.ExchangeRateProjections])">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <span class="kt-widget1__number kt-font-brand">
                                        <span>{{item.value | number:'1.2-2'}}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!--end::Accordion-->
</div>
<app-edit-assumption-modal #editAssumptionModal></app-edit-assumption-modal>
