<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #eclConfigurationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="eclConfiguration.id">{{l("EditEclConfiguration")}}</span>
                        <span *ngIf="!eclConfiguration.id">{{l("CreateNewEclConfiguration")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="EclConfiguration_PropertyKey">{{l("PropertyKey")}}</label>
									<input type="text" id="EclConfiguration_PropertyKey" class="form-control" [(ngModel)]="eclConfiguration.propertyKey" name="PropertyKey"    />
								</div>
					
								<div class="form-group">
									<label for="EclConfiguration_DisplayName">{{l("DisplayName")}}</label>
									<input type="text" id="EclConfiguration_DisplayName" class="form-control" [(ngModel)]="eclConfiguration.displayName" name="DisplayName"    />
								</div>
					
								<div class="form-group">
									<label for="EclConfiguration_Value">{{l("Value")}}</label>
									<input type="text" id="EclConfiguration_Value" class="form-control" [(ngModel)]="eclConfiguration.value" name="Value"    />
								</div>
					
								<div class="form-group">
									<label for="EclConfiguration_DataType">{{l("DataType")}}</label>
									<select class="form-control" name="DataType" id="EclConfiguration_DataType" [(ngModel)]="eclConfiguration.dataType">
									<option value="1">{{l('String')}}</option>

									<option value="1">{{l('Datetime')}}</option>

									<option value="2">{{l('Double')}}</option>

									<option value="3">{{l('Int')}}</option>

									<option value="4">{{l('DoublePercentage')}}</option>

									<option value="5">{{l('DoubleMoney')}}</option>

									<option value="6">{{l('StringDropdown')}}</option>

									<option value="7">{{l('DoubleDropDown')}}</option>

									<option value="8">{{l('IntDropdown')}}</option>


									</select>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!eclConfigurationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>