<div [@routerTransition]>
  
    <div class="kt-subheader kt-grid__item">
      
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("EclConfigurations")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("EclConfigurationsHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
				<button *ngIf="isGranted('Pages.EclConfigurations.Create')" (click)="createEclConfiguration()" 
			    class="btn btn-primary blue"><i class="fa fa-save"></i> {{l("SaveAll")}}</button>
            </div>
        </div>
      
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <tabset>
                    <tab heading="{{'OverrideCutoffTime' | localize}}">
                        <div class="">
                            <div class="kt-portlet__body">
                                <div class="kt-callout__body">
                                    <div class="kt-callout__content">
                                        <h3 class="kt-callout__title">
                                            {{l('OverrideCutoffTime')}}
                                        </h3>
                                        <p class="kt-callout__desc">
                                            {{l('OverrideCutoffTimeInfo')}}
                                        </p>
                                    </div>
                                    <div class="kt-callout__action">
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <label for="OverrideCutoffDate">{{l('Date')}}</label>
                                                <input class="form-control" type="datetime" bsDatepicker  id="OverrideCutoffDate" name="OverrideCutoffDate">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="OverrideCutoffTime">{{l('HourOfDay')}}</label>
                                                <input class="form-control" id="OverrideCutoffTime" name="OverrideCutoffTime" type="number" max="23" min="0" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'InputMethod' | localize}}">
                        <div class="">
                            <div class="kt-portlet__body">
                                <div class="kt-callout__body">
                                    <div class="kt-callout__content">
                                        <h3 class="kt-callout__title">
                                            {{l('LoanBook')}}
                                        </h3>
                                        <p class="kt-callout__desc">
                                            {{l('ConfigureDataSourceInfo', 'Loanbook')}}
                                        </p>
                                    </div>
                                    <div class="kt-callout__action">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Wholesale')}}</label>
                                                    <div class="kt-radio-inline">
                                                        <label class="kt-radio kt-radio--tick kt-radio--success">
                                                            <input type="radio" name="WholesaleLoanBookSource"> {{l('Upload')}}
                                                            <span></span>
                                                        </label>
                                                        <label class="kt-radio kt-radio--tick kt-radio--primary">
                                                            <input type="radio" name="WholesaleLoanBookSource" checked=""> {{l('Staging')}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Retail')}}</label>
                                                    <div class="kt-radio-inline">
                                                        <label class="kt-radio kt-radio--tick kt-radio--success">
                                                            <input type="radio" name="RetailLoanBookSource"> {{l('Upload')}}
                                                            <span></span>
                                                        </label>
                                                        <label class="kt-radio kt-radio--tick kt-radio--success">
                                                            <input type="radio" name="RetailLoanBookSource" checked=""> {{l('Staging')}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Obe')}}</label>
                                                    <div class="kt-radio-inline">
                                                        <label class="kt-radio kt-radio--tick kt-radio--success">
                                                            <input type="radio" name="ObeLoanBookSource"> {{l('Upload')}}
                                                            <span></span>
                                                        </label>
                                                        <label class="kt-radio kt-radio--tick kt-radio--primary">
                                                            <input type="radio" name="ObeLoanBookSource" checked=""> {{l('Staging')}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-separator kt-separator--border-dashed my-0"></div>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="kt-portlet__body">
                                <div class="kt-callout__body">
                                    <div class="kt-callout__content">
                                        <h3 class="kt-callout__title">
                                            {{l('PaymentSchedule')}}
                                        </h3>
                                        <p class="kt-callout__desc">
                                            {{l('ConfigureDataSourceInfo', 'Payment Schedule')}}
                                        </p>
                                    </div>
                                    <div class="kt-callout__action">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Wholesale')}}</label>
                                                    <div class="kt-radio-inline">
                                                        <label class="kt-radio kt-radio--tick kt-radio--success">
                                                            <input type="radio" name="WholesalePaymentScheduleSource"> {{l('Upload')}}
                                                            <span></span>
                                                        </label>
                                                        <label class="kt-radio kt-radio--tick kt-radio--primary">
                                                            <input type="radio" name="WholesalePaymentScheduleSource" checked=""> {{l('Staging')}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Retail')}}</label>
                                                    <div class="kt-radio-inline">
                                                        <label class="kt-radio kt-radio--tick kt-radio--success">
                                                            <input type="radio" name="RetailPaymentScheduleSource"> {{l('Upload')}}
                                                            <span></span>
                                                        </label>
                                                        <label class="kt-radio kt-radio--tick kt-radio--primary">
                                                            <input type="radio" name="RetailPaymentScheduleSource" checked=""> {{l('Staging')}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Obe')}}</label>
                                                    <div class="kt-radio-inline">
                                                        <label class="kt-radio kt-radio--tick kt-radio--success">
                                                            <input type="radio" name="ObePaymentScheduleSource"> {{l('Upload')}}
                                                            <span></span>
                                                        </label>
                                                        <label class="kt-radio kt-radio--tick kt-radio--primary">
                                                            <input type="radio" name="ObePaymentScheduleSource" checked=""> {{l('Staging')}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-separator kt-separator--border-dashed my-0"></div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="">
                            <div class="kt-portlet__body">
                                <div class="kt-callout__body">
                                    <div class="kt-callout__content">
                                        <h3 class="kt-callout__title">
                                            {{l('RawDataAssetBook')}}
                                        </h3>
                                        <p class="kt-callout__desc">
                                            {{l('ConfigureDataSourceInfo', 'Asset book')}}
                                        </p>
                                    </div>
                                    <div class="kt-callout__action">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>{{l('Investment')}}</label>
                                                    <div class="kt-radio-inline">
                                                        <label class="kt-radio kt-radio--tick kt-radio--success">
                                                            <input type="radio" name="InvestmentAssetBook"> {{l('Upload')}}
                                                            <span></span>
                                                        </label>
                                                        <label class="kt-radio kt-radio--tick kt-radio--primary">
                                                            <input type="radio" name="InvestmentAssetBook" checked=""> {{l('Staging')}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="kt-separator kt-separator--border-dashed my-0">
                                    </div> -->
                                </div>
                            </div>
                        </div>

                    </tab>
                    <tab heading="{{'Approvals' | localize}}">
                        <div class="">
                            <div class="kt-portlet__body">
                                <div class="kt-callout__body">
                                    <div class="kt-callout__content">
                                        <h3 class="kt-callout__title">
                                            {{l('RequiredNoOfApprovals')}}
                                        </h3>
                                        <p class="kt-callout__desc">
                                            {{l('RequiredNoOfApprovalsInfo')}}
                                        </p>
                                    </div>
                                    <div class="kt-callout__action">
                                        <div class="form-group">
                                            <input class="form-control col-lg-2 col-md-3" type="number"  id="RequiredNoOfApprovals" name="RequiredNoOfApprovals" min="1" max="5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>

    <createOrEditEclConfigurationModal #createOrEditEclConfigurationModal (modalSave)="getEclConfigurations()"></createOrEditEclConfigurationModal>
    
     <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  
</div>
