<div bsModal #applyOverrideModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    (onShown)="shown()" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{title}}
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form novalidate>
                    <div class="row">
                        <div class="col-lg-12">
                            <div [hidden]="reviewMode || viewOnlyMode" class="row">
                                <div class="form-group  col-md-6">
                                    <label>{{l('SelectAccount')}}</label>
                                    <div></div>
                                    <p-autoComplete [(ngModel)]="selectedAccount" id="SelectAccount"
                                        [suggestions]="filteredAccounts" (completeMethod)="searchBooks($event)" field="name"
                                        placeholder="Accounts" [minLength]="1" name="SelectAccount"
                                        inputStyleClass="form-control" styleClass="width-percent-100">
                                    </p-autoComplete>
                                </div>
                                <div class="col-md-2">
                                    <label>&nbsp;</label>
                                    <div></div>
                                    <button (click)="getRecordDetails()" type="button" class="btn btn-success"
                                        *ngIf="selectedAccount !== undefined && selectedAccount.value !== undefined">
                                        <i class="fa fa-check" style="font-size: 1.2rem !important;"></i>
                                        {{l("Select")}}
                                    </button>
                                </div>
                                <div class="col-lg-4">
                                    <label>{{l('Facility90DaysCheck')}}</label>
                                    <div *ngIf="!facility90dayCheck && dataSource !== null" style="border: 1px solid #e2e5ec; border-radius: 10px; padding: 10px;">
                                        <label class="control-label">{{l('NewFacilityNotTracked')}}</label>
                                    </div>
                                    <div *ngIf="facility90dayCheck"  [ngClass]="{'text-danger': daysAgo > 90}" 
                                            style="border: 1px solid #e2e5ec; border-radius: 10px; padding: 10px;">
                                        <span class="control-label">{{l('LastStage')}}:&nbsp;</span>
                                        <span class="kt-font-boldest">{{facility90dayCheck.stage}}</span>
                                        <span class="control-label">&nbsp;{{l('AsAt')}}:&nbsp;</span>
                                        <span class="kt-font-boldest">{{facility90dayCheck.lastReportingDate | momentFormat:'LL'}}</span>
                                        <span class="">&nbsp;({{daysAgo + ' ' }}</span>{{l('DaysAgo')}})
                                    </div>
                                </div>
                            </div>
        
                            <div [hidden]="reviewMode || viewOnlyMode" class="kt-separator kt-separator--border-dashed"></div>
        
                            <h5>{{l('ContractDetails')}}</h5>
                            <p *ngIf="dataSource === undefined">{{l('NoContractSelected')}}</p>
                            <div *ngIf="dataSource !== null" class="row">
                                <div *ngIf="hasProp('assetDescription')" class="col-lg-4">
                                    <label class="control-label">{{l('AssetDescription')}}</label>
                                    <p class="kt-font-boldest">{{dataSource.assetDescription}}</p>
                                </div>
                                <div *ngIf="hasProp('assetType')" class="col-lg-4">
                                    <label class="control-label">{{l('AssetType')}}</label>
                                    <p class="kt-font-boldest">{{dataSource.assetType}}</p>
                                </div>
                                <div *ngIf="hasProp('currentRating')" class="col-lg-4">
                                    <label class="control-label">{{l('CurrentRating')}}</label>
                                    <p class="kt-font-boldest">{{dataSource.currentRating}}</p>
                                </div>
                                
                                <div *ngIf="hasProp('contractNo')" class="col-lg-4">
                                    <label class="control-label">{{l('ContractNo')}}</label>
                                    <p class="kt-font-boldest">{{dataSource.contractNo}}</p>
                                </div>
                                <div *ngIf="hasProp('accountNo')" class="col-lg-4">
                                    <label class="control-label">{{l('AccountNo')}}</label>
                                    <p class="kt-font-boldest">{{dataSource.accountNo}}</p>
                                </div>
                                <div *ngIf="hasProp('customerNo')" class="col-lg-4">
                                    <label class="control-label">{{l('CustomerNo')}}</label>
                                    <p class="kt-font-boldest">{{dataSource.customerNo}}</p>
                                </div>
        
                                
                                <div *ngIf="hasProp('productType')" class="col-lg-4">
                                    <label class="control-label">{{l('ProductType')}}</label>
                                    <p class="kt-font-boldest">{{dataSource.productType}}</p>
                                </div>
                                <div *ngIf="hasProp('sector')" class="col-lg-4">
                                    <label class="control-label">{{l('Sector')}}</label>
                                    <p class="kt-font-boldest">{{dataSource.sector}}</p>
                                </div>
                                <div *ngIf="hasProp('segment')" class="col-lg-4">
                                    <label class="control-label">{{l('Segment')}}</label>
                                    <p class="kt-font-boldest">{{dataSource.segment}}</p>
                                </div>
                                
                                <div *ngIf="hasProp('outstanding_Balance')" class="col-lg-4">
                                    <label class="control-label">{{l('Exposure')}}</label>
                                    <p class="kt-font-boldest">{{dataSource.outstanding_Balance | number: '1.2-2'}}</p>
                                </div>
                                <div *ngIf="hasProp('stage')" class="col-lg-4">
                                    <label class="control-label">{{l('Stage')}}</label>
                                    <p class="kt-font-boldest">{{dataSource.stage}}</p>
                                </div>
                                <div *ngIf="hasProp('impairment')" class="col-lg-4">
                                    <label class="control-label">{{l('Impairment')}}</label>
                                    <p class="kt-font-boldest">{{dataSource.impairment | number: '1.2-2'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-separator kt-separator--border-dashed"></div>

                    <h5>{{l('OverrideAndOverlay')}}</h5>
                    <p *ngIf="eclOverride === undefined">{{l('NoContractSelected')}}</p>
                    <div *ngIf="eclOverride !== null" class="row">
                        <div *ngIf="eclOverrideHasProp('stage')" class="col-lg-3">
                            <label class="control-label mt-3">{{l('Stage')}}</label>
                            <select class="form-control custom-select" [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)"
                                [(ngModel)]="eclOverride.stage" id="Stage" name="Stage">
                                <option>-- {{l('Select')}} --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div *ngIf="eclOverrideHasProp('impairmentOverride')" class="col-lg-3">
                            <label class="control-label mt-3">{{l('Impairment')}}</label>
                            <input type="number" class="form-control" [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)" 
                            [(ngModel)]="eclOverride.impairmentOverride" id="ImpairmentOverride" name="ImpairmentOverride" min="0" />
                        </div>
                        <div *ngIf="eclOverrideHasProp('ttrYears')" class="col-lg-3">
                            <label class="control-label mt-3">{{l('TTR Years')}}</label>
                            <input type="number" class="form-control" [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)" 
                            [(ngModel)]="eclOverride.ttrYears" id="ttrYears" name="ttrYears" min="0" />
                        </div>
                        <div *ngIf="eclOverrideHasProp('overlaysPercentage')" class="col-lg-3">
                            <label class="control-label mt-3">{{l('Overlays Percentage')}}</label>
                            <input type="number" class="form-control" [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)" 
                            [(ngModel)]="eclOverride.overlaysPercentage" id="overlaysPercentage" name="overlaysPercentage" min="0" />
                        </div>
                        <div *ngIf="eclOverrideHasProp('fsV_Cash')" class="col-lg-3">
                            <label class="control-label mt-3">{{l('FSV Cash')}}</label>
                            <input type="number" class="form-control" [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)" 
                            [(ngModel)]="eclOverride.fsV_Cash" id="fsV_Cash" name="fsV_Cash" min="0" />
                        </div>
                        <div *ngIf="eclOverrideHasProp('fsV_CommercialProperty')" class="col-lg-3">
                            <label class="control-label mt-3">{{l('FSV Commercial Property')}}</label>
                            <input type="number" class="form-control" [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)" 
                            [(ngModel)]="eclOverride.fsV_CommercialProperty" id="fsV_CommercialProperty" name="fsV_CommercialProperty" min="0" />
                        </div>
                        <div *ngIf="eclOverrideHasProp('fsV_Debenture')" class="col-lg-3">
                            <label class="control-label mt-3">{{l('FSV Debenture')}}</label>
                            <input type="number" class="form-control" [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)" 
                            [(ngModel)]="eclOverride.fsV_Debenture" id="fsV_Debenture" name="fsV_Debenture" min="0" />
                        </div>
                        <div *ngIf="eclOverrideHasProp('fsV_Inventory')" class="col-lg-3">
                            <label class="control-label mt-3">{{l('FSV Inventory')}}</label>
                            <input type="number" class="form-control" [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)" 
                            [(ngModel)]="eclOverride.fsV_Inventory" id="fsV_Inventory" name="fsV_Inventory" min="0" />
                        </div>
                        <div *ngIf="eclOverrideHasProp('fsV_PlantAndEquipment')" class="col-lg-3">
                            <label class="control-label mt-3">{{l('FSV Plant & Equipment')}}</label>
                            <input type="number" class="form-control" [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)" 
                            [(ngModel)]="eclOverride.fsV_PlantAndEquipment" id="fsV_PlantAndEquipment" name="fsV_PlantAndEquipment" min="0" />
                        </div>
                        <div *ngIf="eclOverrideHasProp('fsV_Receivables')" class="col-lg-3">
                            <label class="control-label mt-3">{{l('FSV Receivables')}}</label>
                            <input type="number" class="form-control" [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)" 
                            [(ngModel)]="eclOverride.fsV_Receivables" id="fsV_Receivables" name="fsV_Receivables" min="0" />
                        </div>
                        <div *ngIf="eclOverrideHasProp('fsV_ResidentialProperty')" class="col-lg-3">
                            <label class="control-label mt-3">{{l('FSV Residential Property')}}</label>
                            <input type="number" class="form-control" [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)" 
                            [(ngModel)]="eclOverride.fsV_ResidentialProperty" id="fsV_ResidentialProperty" name="fsV_ResidentialProperty" min="0" />
                        </div>
                        <div *ngIf="eclOverrideHasProp('fsV_Shares')" class="col-lg-3">
                            <label class="control-label mt-3">{{l('FSV Shares')}}</label>
                            <input type="number" class="form-control" [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)" 
                            [(ngModel)]="eclOverride.fsV_Shares" id="fsV_Shares" name="fsV_Shares" min="0" />
                        </div>
                        <div *ngIf="eclOverrideHasProp('fsV_Vehicle')" class="col-lg-3">
                            <label class="control-label mt-3">{{l('FSV Vehicle')}}</label>
                            <input type="number" class="form-control" [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)" 
                            [(ngModel)]="eclOverride.fsV_Vehicle" id="fsV_Vehicle" name="fsV_Vehicle" min="0" />
                        </div>
                        <div *ngIf="eclOverrideHasProp('overrideType')" class="col-md-12">  
                            <label class="control-label mt-3">{{l('OverrideType')}}</label>                              
                            <p *ngIf="overrideTypes.length <= 0">{{l('NoOverrideTypeDefined')}}</p>
                            <select *ngIf="overrideTypes.length > 0" class="form-control custom-select" name="OverrideType" id="IsApprovedFilterSelect" [(ngModel)]="eclOverride.overrideType"
                                [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)">
                                <option *ngFor="let item of overrideTypes" [value]="item.name">{{item.name}}</option>
                            </select>
                        </div>
                        <div *ngIf="eclOverrideHasProp('overrideComment')" class="col-md-12">
                            <label class="control-label mt-3">{{l('Comment')}}</label>
                            <textarea autoFocus [(ngModel)]="eclOverride.overrideComment" rows="3"
                                [disabled]="reviewMode || viewOnlyMode || (eclOverride.id && eclOverride.status == generalStatusEnum.Submitted)" name="OverrideComment" class="form-control"
                                placeholder="{{'OverrideComment' | localize}}"></textarea>
                        </div>
                    </div>
                </form>


                <div *ngIf="eclOverride && eclOverride.id">
                    <br>
                    <div class="kt-divider">
                        <span></span>
                        <span>Audit Trail</span>
                        <span></span>
                    </div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr *ngIf="objectHasProp('dateCreated', auditInfo) && objectHasProp('lastUpdated', auditInfo)">
                                <td>{{l('DateCreated')}}:</td>
                                <td><span class="kt-font-bold">{{auditInfo.dateCreated | momentFormat: 'lll'}}</span>
                                </td>
                                <td>{{l('LastUpdated')}}: </td>
                                <td><span class="kt-font-bold">{{auditInfo.lastUpdated | momentFormat: 'lll'}}</span>
                                </td>
                            </tr>
                            <tr *ngIf="objectHasProp('createdBy', auditInfo) && objectHasProp('updatedBy', auditInfo)">
                                <td>{{l('By')}}:</td>
                                <td><span class="kt-font-bold">{{auditInfo.createdBy}}</span></td>
                                <td>{{l('By')}}: </td>
                                <td><span class="kt-font-bold">{{auditInfo.updatedBy}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="kt-divider">
                        <span></span>
                        <span>Reviews</span>
                        <span></span>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>{{l('Date')}}</td>
                                <td>{{l('By')}}</td>
                                <td>{{l('Status')}}</td>
                                <td>{{l('Comment')}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of approvalsAuditInfo;">
                                <td>{{item.reviewedDate | momentFormat: 'lll'}}</td>
                                <td>{{item.reviewedBy}}</td>
                                <td>
                                    <span *ngIf="item.status === genStatusEnum.Approved" class="kt-badge kt-badge--bolder kt-badge kt-badge--inline 
                                                kt-badge--unified-success">
                                        {{l(genStatusEnum[item.status])}}
                                    </span>
                                    <span *ngIf="item.status === genStatusEnum.Rejected" class="kt-badge kt-badge--bolder kt-badge kt-badge--inline 
                                                kt-badge--unified-danger">
                                        {{l(genStatusEnum[item.status])}}
                                    </span>
                                    <span *ngIf="item.status === genStatusEnum.Submitted" class="kt-badge kt-badge--bolder kt-badge kt-badge--inline 
                                                kt-badge--unified-warning">
                                        {{l(genStatusEnum[item.status])}}
                                    </span>
                                </td>
                                <td>{{item.reviewComment}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="modal-footer">
                <button *ngIf="reviewMode && isGranted('Pages.EclView.Override.Review')" type="button" class="btn btn-success" (click)="reviewOverride()">
                    <i class="fa fa-eye"></i>
                    {{"Review" | localize}}
                </button>
                <button *ngIf="!reviewMode && !viewOnlyMode && isGranted('Pages.EclView.Override')" type="button" class="btn btn-success" (click)="apply()">
                    <i class="fa fa-pen-nib"></i>
                    {{"ApplyOverride" | localize}}
                </button>
            </div>

        </div>
    </div>

    <app-approve-ecl-modal #approvalModal (approved)="close()"></app-approve-ecl-modal>
</div>