<div [@routerTransition]>
  
    <div class="kt-subheader kt-grid__item">
      
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("WholesaleEclResultSummaryKeyInputs")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("WholesaleEclResultSummaryKeyInputsHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
				<button *ngIf="isGranted('Pages.WholesaleEclResultSummaryKeyInputs.Create')" (click)="createWholesaleEclResultSummaryKeyInput()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewWholesaleEclResultSummaryKeyInput")}}</button>
            </div>
        </div>
      
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getWholesaleEclResultSummaryKeyInputs()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="PDGroupingFilter">{{l("PDGrouping")}}</label>
									<input type="text" class="form-control" id="PDGroupingFilter" name="pdGroupingFilter" [(ngModel)]="pdGroupingFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinExposureFilter">{{l("MinMax")}} {{l("Exposure")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinExposureFilter" [(ngModel)]="minExposureFilter" placeholder="{{l('MinValue')}}" name="minExposureFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxExposureFilter" placeholder="{{l('MaxValue')}}" name="maxExposureFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinCollateralFilter">{{l("MinMax")}} {{l("Collateral")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinCollateralFilter" [(ngModel)]="minCollateralFilter" placeholder="{{l('MinValue')}}" name="minCollateralFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxCollateralFilter" placeholder="{{l('MaxValue')}}" name="maxCollateralFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinUnsecuredPercentageFilter">{{l("MinMax")}} {{l("UnsecuredPercentage")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinUnsecuredPercentageFilter" [(ngModel)]="minUnsecuredPercentageFilter" placeholder="{{l('MinValue')}}" name="minUnsecuredPercentageFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxUnsecuredPercentageFilter" placeholder="{{l('MaxValue')}}" name="maxUnsecuredPercentageFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinPercentageOfBookFilter">{{l("MinMax")}} {{l("PercentageOfBook")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinPercentageOfBookFilter" [(ngModel)]="minPercentageOfBookFilter" placeholder="{{l('MinValue')}}" name="minPercentageOfBookFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxPercentageOfBookFilter" placeholder="{{l('MaxValue')}}" name="maxPercentageOfBookFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinMonths6CummulativeBestPDsFilter">{{l("MinMax")}} {{l("Months6CummulativeBestPDs")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinMonths6CummulativeBestPDsFilter" [(ngModel)]="minMonths6CummulativeBestPDsFilter" placeholder="{{l('MinValue')}}" name="minMonths6CummulativeBestPDsFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxMonths6CummulativeBestPDsFilter" placeholder="{{l('MaxValue')}}" name="maxMonths6CummulativeBestPDsFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinMonths12CummulativeBestPDsFilter">{{l("MinMax")}} {{l("Months12CummulativeBestPDs")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinMonths12CummulativeBestPDsFilter" [(ngModel)]="minMonths12CummulativeBestPDsFilter" placeholder="{{l('MinValue')}}" name="minMonths12CummulativeBestPDsFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxMonths12CummulativeBestPDsFilter" placeholder="{{l('MaxValue')}}" name="maxMonths12CummulativeBestPDsFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinMonths24CummulativeBestPDsFilter">{{l("MinMax")}} {{l("Months24CummulativeBestPDs")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinMonths24CummulativeBestPDsFilter" [(ngModel)]="minMonths24CummulativeBestPDsFilter" placeholder="{{l('MinValue')}}" name="minMonths24CummulativeBestPDsFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxMonths24CummulativeBestPDsFilter" placeholder="{{l('MaxValue')}}" name="maxMonths24CummulativeBestPDsFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="WholesaleEclTenantIdFilter">({{l("WholesaleEcl")}}) {{l("TenantId")}}</label>
									<input type="text" class="form-control" id="WholesaleEclTenantIdFilter" name="wholesaleEclTenantIdFilter" [(ngModel)]="wholesaleEclTenantIdFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getWholesaleEclResultSummaryKeyInputs($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.WholesaleEclResultSummaryKeyInputs.Edit', 'Pages.WholesaleEclResultSummaryKeyInputs.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="wholesaleEclFk.tenantId">
                                        {{l('TenantId')}}
                                        <p-sortIcon field="wholesaleEclTenantId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="pdGrouping">
                                        {{l('PDGrouping')}}
                                        <p-sortIcon field="wholesaleEclResultSummaryKeyInput.pdGrouping"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="exposure">
                                        {{l('Exposure')}}
                                        <p-sortIcon field="wholesaleEclResultSummaryKeyInput.exposure"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="collateral">
                                        {{l('Collateral')}}
                                        <p-sortIcon field="wholesaleEclResultSummaryKeyInput.collateral"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="unsecuredPercentage">
                                        {{l('UnsecuredPercentage')}}
                                        <p-sortIcon field="wholesaleEclResultSummaryKeyInput.unsecuredPercentage"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="percentageOfBook">
                                        {{l('PercentageOfBook')}}
                                        <p-sortIcon field="wholesaleEclResultSummaryKeyInput.percentageOfBook"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="months6CummulativeBestPDs">
                                        {{l('Months6CummulativeBestPDs')}}
                                        <p-sortIcon field="wholesaleEclResultSummaryKeyInput.months6CummulativeBestPDs"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="months12CummulativeBestPDs">
                                        {{l('Months12CummulativeBestPDs')}}
                                        <p-sortIcon field="wholesaleEclResultSummaryKeyInput.months12CummulativeBestPDs"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="months24CummulativeBestPDs">
                                        {{l('Months24CummulativeBestPDs')}}
                                        <p-sortIcon field="wholesaleEclResultSummaryKeyInput.months24CummulativeBestPDs"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.WholesaleEclResultSummaryKeyInputs.Edit', 'Pages.WholesaleEclResultSummaryKeyInputs.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>

												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.WholesaleEclResultSummaryKeyInputs.Edit')"
														(click)="createOrEditWholesaleEclResultSummaryKeyInputModal.show(record.wholesaleEclResultSummaryKeyInput.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.WholesaleEclResultSummaryKeyInputs.Delete')"
														(click)="deleteWholesaleEclResultSummaryKeyInput(record.wholesaleEclResultSummaryKeyInput)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('TenantId')}}</span>
												{{record.wholesaleEclTenantId}}
											</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('PDGrouping')}}</span>
											{{record.wholesaleEclResultSummaryKeyInput.pdGrouping}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Exposure')}}</span>
											{{record.wholesaleEclResultSummaryKeyInput.exposure}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Collateral')}}</span>
											{{record.wholesaleEclResultSummaryKeyInput.collateral}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('UnsecuredPercentage')}}</span>
											{{record.wholesaleEclResultSummaryKeyInput.unsecuredPercentage}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('PercentageOfBook')}}</span>
											{{record.wholesaleEclResultSummaryKeyInput.percentageOfBook}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Months6CummulativeBestPDs')}}</span>
											{{record.wholesaleEclResultSummaryKeyInput.months6CummulativeBestPDs}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Months12CummulativeBestPDs')}}</span>
											{{record.wholesaleEclResultSummaryKeyInput.months12CummulativeBestPDs}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Months24CummulativeBestPDs')}}</span>
											{{record.wholesaleEclResultSummaryKeyInput.months24CummulativeBestPDs}}
										</td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getWholesaleEclResultSummaryKeyInputs($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditWholesaleEclResultSummaryKeyInputModal #createOrEditWholesaleEclResultSummaryKeyInputModal (modalSave)="getWholesaleEclResultSummaryKeyInputs()"></createOrEditWholesaleEclResultSummaryKeyInputModal>
    
    
  
</div>
