<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{ affiliateName }} </span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("CalibrationLgdRecoveryRate")}}
            </span>
            <div class="kt-subheader__breadcrumbs">
                <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--rounded
                            kt-badge--{{ getStatusLabelClass(calibration.status) }}">
                    {{l(calibrationStatusEnum[calibration.status])}}
                </span>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="submitEcl()" class="btn btn-outline-primary"
                    *ngIf="calibration.status == calibrationStatusEnum.Draft && isGranted('Pages.Calibration.Submit')">
                    <i class="fa fa-check" style="font-size: 1.2rem !important;"></i>
                    {{l("Submit")}}
                </button>
                <button (click)="approveEcl()" class="btn btn-primary"
                    *ngIf="(calibration.status == calibrationStatusEnum.Submitted || calibration.status == calibrationStatusEnum.AwaitngAdditionApproval) && isGranted('Pages.Calibration.Review')">
                    <i class="fa fa-check-double" style="font-size: 1.2rem !important;"></i>
                    {{l("Approve")}}
                </button>
                <!-- <button (click)="runCalibration()" class="btn btn-success"
                    *ngIf="calibration.status == calibrationStatusEnum.Approved">
                    <i class="fa fa-play-circle" style="font-size: 1.2rem !important;"></i>
                    {{l("Run")}}
                </button> -->
                <button (click)="applyToEcl()" class="btn btn-primary"
                    *ngIf="calibration.status == calibrationStatusEnum.Completed && isGranted('Pages.Calibration.Apply')">
                    <i class="fa fa-check-circle" style="font-size: 1.2rem !important;"></i>
                    {{l("ApplyToEcl")}}
                </button>
                <!-- <button (click)="generateReport()" class="btn btn-primary"
                    *ngIf="calibration.status == calibrationStatusEnum.Completed || calibration.status == calibrationStatusEnum.AppliedToEcl">
                    <i class="fa fa-file-excel" style="font-size: 1.2rem !important;"></i>
                    {{l("Generate Report")}}
                </button> -->
                <button (click)="goBack()" class="btn btn-outline-danger">
                    <i class="fa fa-reply" style="font-size: 1.2rem !important;"></i>
                    {{l("GoBack")}}
                </button>
            </div>
        </div>

    </div>
    <div class="kt-content">

        <div *ngIf="calibration.status == calibrationStatusEnum.Completed || calibration.status == calibrationStatusEnum.AppliedToEcl" 
            class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Calibration Result
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fluid">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{l('RecoveryRate')}}</th>
                                <th>{{l('Overall')}}</th>
                                <th>{{l('Corporate')}}</th>
                                <th>{{l('Commercial')}}</th>
                                <th>{{l('Consumer')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-middle">{{ l('ExposureAtDefault') }}</td>
                                <td class="align-middle">{{ result.overall_Exposure_At_Default | number: '1.2-2' }}</td>
                                <td class="align-middle">{{ result.corporate_Exposure_At_Default | number: '1.2-2' }}</td>
                                <td class="align-middle">{{ result.commercial_Exposure_At_Default | number: '1.2-2' }}</td>
                                <td class="align-middle">{{ result.consumer_Exposure_At_Default | number: '1.2-2'}}</td>
                            </tr>
                            <tr>
                                <td class="align-middle">{{ l('PvOfAmountRecovered') }}</td>
                                <td class="align-middle">{{ result.overall_PvOfAmountReceived | number: '1.2-2' }}</td>
                                <td class="align-middle">{{ result.corporate_PvOfAmountReceived | number: '1.2-2' }}</td>
                                <td class="align-middle">{{ result.commercial_PvOfAmountReceived | number: '1.2-2' }}</td>
                                <td class="align-middle">{{ result.consumer_PvOfAmountReceived | number: '1.2-2' }}</td>
                            </tr>
                            <tr>
                                <td class="align-middle">{{ l('Count') }}</td>
                                <td class="align-middle">{{ result.overall_Count | number: '1.2-2' }}</td>
                                <td class="align-middle">{{ result.corporate_Count  | number: '1.2-2'}}</td>
                                <td class="align-middle">{{ result.commercial_Count | number: '1.2-2' }}</td>
                                <td class="align-middle">{{ result.consumer_Count | number: '1.2-2' }}</td>
                            </tr>
                            <tr class="bg-success text-white">
                                <td class="align-middle">{{ l('RecoveryRate') }}</td>
                                <td class="align-middle">{{ result.overall_RecoveryRate | number: '1.2-2' }}</td>
                                <td class="align-middle">{{ result.corporate_RecoveryRate | number: '1.2-2' }}</td>
                                <td class="align-middle">{{ result.commercial_RecoveryRate | number: '1.2-2' }}</td>
                                <td class="align-middle">{{ result.consumer_RecoveryRate | number: '1.2-2' }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head ">
                <div class="kt-portlet__head-label hoverable" (click)="showUploadCard = !showUploadCard;">
                    <h3 class="kt-portlet__head-title">
                        {{l('InputSummary')}}
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <button *ngIf="totalUploads > 0" (click)="exportToExcel()" class="btn btn-outline-primary mr-2">
                        <i class="fa fa-file-excel" style="font-size: 1.2rem !important;"></i>
                        {{l("DownloadFullData")}}
                    </button>
                    <div *ngIf="isGranted('Pages.Calibration.Upload')" class="btn-group" dropdown>
                        <button dropdownToggle type="button" *ngIf="calibration.status == calibrationStatusEnum.Draft"
                            class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-upload"></i> {{"Upload" | localize}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
                            <a href="javascript:;" class="no-padding">
                                <span class="fileinput-button">
                                    <p-fileUpload customUpload="true"
                                            name="excelFileUpload"
                                            #excelFileUpload
                                            maxFileSize="100000000"
                                            auto="auto"
                                            accept=".csv,.xls,.xlsx"
                                            (uploadHandler)="uploadData($event)"
                                            (onError)="onUploadExcelError()"
                                            chooseLabel="{{'CalibrationRawData' | localize}}">
                                    </p-fileUpload>
                                </span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <span class="dropdown-item-text text-muted pl-3" href="#">
                                <small [innerHTML]="l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/Calibration/CalibrationInput_LGD_RecoveryRate.xlsx>' + l('ClickHere') + '</a>')"></small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div [hidden]="!showUploadCard" class="kt-portlet__body">
                <div *ngIf="uploads.length > 0">
                    {{l('TotalUploadsCount')}} <b>{{totalUploads}}</b>
                    <hr>
                </div>
                <div class="table-responsive">
                    <p *ngIf="uploads.length <= 0" class="">
                        {{l('NoUploadedRecordFoundForCalibration')}}
                    </p>
                    <table *ngIf="uploads.length > 0" class="table table-hover">
                        <thead>
                            <tr>
                                <!-- <th>{{l('Actions')}}</th> -->
                                <th>{{l('CustomerNo')}}</th>
                                <th>{{l('AccountNo')}}</th>
                                <th>{{l('AccountName')}}</th>
                                <th>{{l('ContractNo')}}</th>
                                <th>{{l('Segment')}}</th>
                                <th>{{l('DaysPastDue')}}</th>
                                <th>{{l('Classification')}}</th>
                                <th>{{l('DefaultDate')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of uploads">
                                <td class="align-middle">{{ item.customer_No }}</td>
                                <td class="align-middle">{{ item.account_No }}</td>
                                <td class="align-middle">{{ item.account_Name }}</td>
                                <td class="align-middle">{{ item.contract_No }}</td>
                                <td class="align-middle">{{ item.segment }}</td>
                                <td class="align-middle">{{ item.days_Past_Due }}</td>
                                <td class="align-right">{{item.classification }}</td>
                                <td class="align-right">{{item.default_Date | momentFormat: 'LL' }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        {{l('AuditInfo')}}
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>{{l('DateCreated')}}:</td>
                            <td><span class="kt-font-bold">{{auditInfo.dateCreated | momentFormat: 'lll'}}</span></td>
                            <td>{{l('LastUpdated')}}: </td>
                            <td><span class="kt-font-bold">{{auditInfo.lastUpdated | momentFormat: 'lll'}}</span></td>
                        </tr>
                        <tr>
                            <td>{{l('By')}}:</td>
                            <td><span class="kt-font-bold">{{auditInfo.createdBy}}</span></td>
                            <td>{{l('By')}}: </td>
                            <td><span class="kt-font-bold">{{auditInfo.updatedBy}}</span></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div class="kt-divider">
                    <span></span>
                    <span>Reviews</span>
                    <span></span>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>{{l('Date')}}</td>
                            <td>{{l('By')}}</td>
                            <td>{{l('Status')}}</td>
                            <td>{{l('Comment')}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of approvalsAuditInfo;">
                            <td>{{item.reviewedDate | momentFormat: 'lll'}}</td>
                            <td>{{item.reviewedBy}}</td>
                            <td>
                                <span *ngIf="item.status === genStatusEnum.Approved" class="kt-badge kt-badge--bolder kt-badge kt-badge--inline 
                                                kt-badge--unified-success">
                                                {{l(genStatusEnum[item.status])}}
                                </span>
                                <span *ngIf="item.status === genStatusEnum.Rejected" class="kt-badge kt-badge--bolder kt-badge kt-badge--inline 
                                                kt-badge--unified-danger">
                                                {{l(genStatusEnum[item.status])}}
                                </span>
                                <span *ngIf="item.status === genStatusEnum.Submitted" class="kt-badge kt-badge--bolder kt-badge kt-badge--inline 
                                                kt-badge--unified-warning">
                                                {{l(genStatusEnum[item.status])}}
                                </span>
                            </td>
                            <td>{{item.reviewComment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <app-approve-ecl-modal #approvalModal (approved)="reloadPage()"></app-approve-ecl-modal>
</div>