<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #receivablesResultForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="receivablesResult.id">{{l("EditReceivablesResult")}}</span>
                        <span *ngIf="!receivablesResult.id">{{l("CreateNewReceivablesResult")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="ReceivablesResult_TotalExposure">{{l("TotalExposure")}}</label>
									<input type="number" id="ReceivablesResult_TotalExposure" class="form-control" [(ngModel)]="receivablesResult.totalExposure" name="TotalExposure"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_TotalImpairment">{{l("TotalImpairment")}}</label>
									<input type="number" id="ReceivablesResult_TotalImpairment" class="form-control" [(ngModel)]="receivablesResult.totalImpairment" name="TotalImpairment"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_AdditionalProvision">{{l("AdditionalProvision")}}</label>
									<input type="number" id="ReceivablesResult_AdditionalProvision" class="form-control" [(ngModel)]="receivablesResult.additionalProvision" name="AdditionalProvision"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_Coverage">{{l("Coverage")}}</label>
									<input type="number" id="ReceivablesResult_Coverage" class="form-control" [(ngModel)]="receivablesResult.coverage" name="Coverage"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_OptimisticExposure">{{l("OptimisticExposure")}}</label>
									<input type="number" id="ReceivablesResult_OptimisticExposure" class="form-control" [(ngModel)]="receivablesResult.optimisticExposure" name="OptimisticExposure"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_BaseExposure">{{l("BaseExposure")}}</label>
									<input type="number" id="ReceivablesResult_BaseExposure" class="form-control" [(ngModel)]="receivablesResult.baseExposure" name="BaseExposure"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_DownturnExposure">{{l("DownturnExposure")}}</label>
									<input type="number" id="ReceivablesResult_DownturnExposure" class="form-control" [(ngModel)]="receivablesResult.downturnExposure" name="DownturnExposure"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_ECLTotalExposure">{{l("ECLTotalExposure")}}</label>
									<input type="number" id="ReceivablesResult_ECLTotalExposure" class="form-control" [(ngModel)]="receivablesResult.eclTotalExposure" name="ECLTotalExposure"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_OptimisticImpairment">{{l("OptimisticImpairment")}}</label>
									<input type="number" id="ReceivablesResult_OptimisticImpairment" class="form-control" [(ngModel)]="receivablesResult.optimisticImpairment" name="OptimisticImpairment"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_BaseImpairment">{{l("BaseImpairment")}}</label>
									<input type="number" id="ReceivablesResult_BaseImpairment" class="form-control" [(ngModel)]="receivablesResult.baseImpairment" name="BaseImpairment"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_DownturnImpairment">{{l("DownturnImpairment")}}</label>
									<input type="number" id="ReceivablesResult_DownturnImpairment" class="form-control" [(ngModel)]="receivablesResult.downturnImpairment" name="DownturnImpairment"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_ECLTotalImpairment">{{l("ECLTotalImpairment")}}</label>
									<input type="number" id="ReceivablesResult_ECLTotalImpairment" class="form-control" [(ngModel)]="receivablesResult.eclTotalImpairment" name="ECLTotalImpairment"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_OptimisticCoverageRatio">{{l("OptimisticCoverageRatio")}}</label>
									<input type="number" id="ReceivablesResult_OptimisticCoverageRatio" class="form-control" [(ngModel)]="receivablesResult.optimisticCoverageRatio" name="OptimisticCoverageRatio"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_BaseCoverageRatio">{{l("BaseCoverageRatio")}}</label>
									<input type="number" id="ReceivablesResult_BaseCoverageRatio" class="form-control" [(ngModel)]="receivablesResult.baseCoverageRatio" name="BaseCoverageRatio"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_DownturnCoverageRatio">{{l("DownturnCoverageRatio")}}</label>
									<input type="number" id="ReceivablesResult_DownturnCoverageRatio" class="form-control" [(ngModel)]="receivablesResult.downturnCoverageRatio" name="DownturnCoverageRatio"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_TotalCoverageRatio">{{l("TotalCoverageRatio")}}</label>
									<input type="number" id="ReceivablesResult_TotalCoverageRatio" class="form-control" [(ngModel)]="receivablesResult.totalCoverageRatio" name="TotalCoverageRatio"   />
								</div>
					
								<div class="form-group">
									<label for="ReceivablesResult_RegisterId">{{l("RegisterId")}}</label>
									<input type="text" id="ReceivablesResult_RegisterId" class="form-control" [(ngModel)]="receivablesResult.registerId" name="RegisterId"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!receivablesResultForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>